{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Refugee.Info Admin Site</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"> {% include "admin_panel/css.html" %} {% block additional-requirements %}{% endblock %}
</head>

<body class="hold-transition skin-signpost sidebar-mini">

    <div>
        <div class="main-flex-container">
            <div class="logo-header">
                <img src="/public/static/img/logo-admin.png" />
            </div>
            <div class="form-container">
                <div class="box-border">
                    <p class="text-center">Please set up a password for your account.</p>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="activation_key" value="{% firstof activation_key '' %}" />

                        <div class="form-group has-feedback">
                            <input type="password" name="password" class="form-control" id="id_password" placeholder="Password" ng-model="ctrl.user.password"
                                required>
                            <i class="fa fa-lock form-control-feedback input-right-icon"></i>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" name="confirm_password" class="form-control" id="confirm_password" placeholder="Password" ng-model="ctrl.user.password"
                                required>
                            <i class="fa fa-lock form-control-feedback input-right-icon"></i>
                        </div>
                        <div class="form-group login-buttons-container">
                            <span></span>
                            <button type="submit" class="btn login-button" id="login_submit">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</body>

</html>