{% load static %}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
          

    <link rel="stylesheet" type="text/css" href="{% static 'css/icomoon-font.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{% static "angular-datatables/dist/css/angular-datatables.css" %}">
    
    
    
    <link rel="stylesheet" type="text/css" href="{% static 'angular-toasty/dist/angular-toasty.min.css' %}"
    media="screen,projection">
    <link rel="stylesheet" type="text/css" href="{% static 'ui-select/dist/select.min.css' %}"
    media="screen,projection">
    <link rel="stylesheet" type="text/css"
    href="{% static 'fontawesome-iconpicker/dist/css/fontawesome-iconpicker.min.css' %}"
    media="screen,projection">
    
    <link rel="stylesheet" type="text/css" href='{% static 'leaflet/dist/leaflet.css' %}'/>
    <link rel="stylesheet" href="{% static "leaflet-draw/dist/leaflet.draw.css" %}">
    <link rel="stylesheet" type="text/css" href='{% static 'leaflet.markercluster/dist/MarkerCluster.css' %}'/>
    <link rel="stylesheet" type="text/css" href='{% static 'leaflet.markercluster/dist/MarkerCluster.Default.css' %}'/>
    <link rel="stylesheet" type="text/css"
          href='{% static 'Leaflet.vector-markers/dist/leaflet-vector-markers.css' %}'/>

    <link rel="stylesheet" href="{%  static 'perfect-scrollbar/css/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">

    <link rel="stylesheet" href="{% static "less/admin.css" %}">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/signpost-skin.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin-main.css' %}">
    <link rel="stylesheet" href="{% static 'css/loading_overlay.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/print.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-daterangepicker/daterangepicker.css' %}"/>
    <link rel="stylesheet" href="{% static 'angularjs-color-picker/dist/angularjs-color-picker.css' %}" />
    <link rel="stylesheet" href="{% static 'angular-material/angular-material.min.css' %}" />

    <!-- only include if you use bootstrap -->
    <link rel="stylesheet" href="{% static 'angularjs-color-picker/dist/themes/angularjs-color-picker-bootstrap.min.css' %}" />
    
    <style>
        [ng-cloak] {
            display: none;
        }
    </style>