{% load static %}
<!DOCTYPE html>
<html ng-app="adminApp"
      ng-controller="BaseController as baseController"
      {% verbatim %}
      lang="{{ baseController.language }}"
      {% endverbatim %}
      
      >

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site.name }} CMS</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% include "admin_panel/css.html" %}
    {% block additional-requirements %}{% endblock %}
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
</head>

<body class="hold-transition skin-signpost sidebar-mini">
<div class="layout-container" ng-if="user" ng-cloak>
    <header class="layout-header" ng-include="'partials/navbar.html'"></header>
    <div class="layout-wrapper flex-row">
        <perfect-scrollbar min-scrollbar-length="20" class="layout-navigation">
            <div ng-include="'partials/menu.html'" class="layout-navigation-inner"></div>
        </perfect-scrollbar>

        <div class="layout-wrapper flex-column">
            <div ui-view="main" autoscroll="false" class="layout-content"></div>
            <footer class="layout-footer" id="footer">
            </footer>
        </div>
    </div>
</div>

<div ng-if="!user" ui-view="login" class="login-view" autoscroll="false"></div>


{% block loading-spinner %}
<div class="fixed-loading-container" ng-show="activeRequests > 0">
        <div class="sk-fading-circle">
            <div class="sk-circle1 sk-circle"></div>
            <div class="sk-circle2 sk-circle"></div>
            <div class="sk-circle3 sk-circle"></div>
            <div class="sk-circle4 sk-circle"></div>
            <div class="sk-circle5 sk-circle"></div>
            <div class="sk-circle6 sk-circle"></div>
            <div class="sk-circle7 sk-circle"></div>
            <div class="sk-circle8 sk-circle"></div>
            <div class="sk-circle9 sk-circle"></div>
            <div class="sk-circle10 sk-circle"></div>
            <div class="sk-circle11 sk-circle"></div>
            <div class="sk-circle12 sk-circle"></div>
        </div>
    </div>
{% endblock loading-spinner %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
<script type="text/javascript" src='{% static 'leaflet/dist/leaflet.js' %}'></script>
<script type="text/javascript" src='{% static 'leaflet-draw/dist/leaflet.draw.js' %}'></script>
<script src="{% static "js/app.js" %}"></script>


<script type="text/javascript" src='{% static 'angular/angular.js' %}'></script>

<script type="text/javascript" src='{% static 'angular-datatables/dist/angular-datatables.js' %}'></script>
<script type="text/javascript" src='{% static 'angular-breadcrumb/dist/angular-breadcrumb.min.js' %}'></script>
<script type="text/javascript" src="{% static 'angular-animate/angular-animate.js' %}"></script>
<script type="text/javascript" src='{% static 'angular-ui-router/release/angular-ui-router.min.js' %}'></script>
<script type="text/javascript" src="{% static 'djng/js/django-angular.js' %}"></script>
<script type="text/javascript" src="{% static 'angular-cookies/angular-cookies.min.js' %}"></script>
<script type="text/javascript" src='{% static 'angular-sanitize/angular-sanitize.js' %}'></script>
<script type="text/javascript" src='{% static 'ui-select/dist/select.min.js' %}'></script>
<script type="text/javascript" src='{% static 'angular-drag-and-drop-lists/angular-drag-and-drop-lists.js' %}'></script>
<script type="text/javascript" src='{% static 'ckeditor/ckeditor.js' %}'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ckeditor/1.0.3/angular-ckeditor.min.js"></script>
<script type="text/javascript" src='{% static 'angular-toasty/dist/angular-toasty.js' %}'></script>
<script type="text/javascript" src='{% static 'angular-translate/dist/angular-translate.min.js' %}'></script>
<script type="text/javascript"
        src='{% static 'angular-translate-loader-static-files/angular-translate-loader-static-files.js' %}'></script>
<script type="text/javascript"
        src='{% static 'angular-translate-storage-cookie/angular-translate-storage-cookie.min.js' %}'></script>
<script type="text/javascript" src='{% static 'ngstorage/ngStorage.min.js' %}'></script>
<script type="text/javascript" src='{% static 'angular-ui-bootstrap/dist/ui-bootstrap.js' %}'></script>
<script type="text/javascript" src='{% static 'angular-ui-bootstrap/dist/ui-bootstrap-tpls.js' %}'></script>
<script type="text/javascript"
        src='{% static 'fontawesome-iconpicker/dist/js/fontawesome-iconpicker.min.js' %}'></script>
<script type="text/javascript" src='{% static 'lodash/lodash.min.js' %}'></script>
<script type="text/javascript" src='{% static 'restangular/dist/restangular.min.js' %}'></script>
<script type="text/javascript"
        src='{% static 'angular-simple-logger/dist/angular-simple-logger.light.min.js' %}'></script>
<script type="text/javascript" src='{% static 'satellizer/dist/satellizer.min.js' %}'></script>
<script type="text/javascript" src="{% static 'file-saver/FileSaver.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ng-file-upload/dist/ng-file-upload-shim.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ng-file-upload/dist/ng-file-upload.min.js' %}"></script>
<script type="text/javascript" src="{% static 'chart.js/dist/Chart.min.js' %}"></script>
<script type="text/javascript" src="{% static 'angular-chart.js/dist/angular-chart.min.js' %}"></script>

<script type="text/javascript" src='{% static 'js/adminApp/app.built.js' %}'></script>

<script type="text/javascript" src='{% static 'leaflet-plugins/layer/tile/Google.js' %}'></script>
<script type="text/javascript" src='{% static 'leaflet.markercluster/dist/leaflet.markercluster.js' %}'></script>
<script type="text/javascript" src='{% static 'Leaflet.vector-markers/dist/leaflet-vector-markers.js' %}'></script>
<script type="text/javascript"
        src='{% static 'angular-leaflet-directive/dist/angular-leaflet-directive.min.js' %}'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.0/moment-with-locales.min.js"></script>
<script type="application/javascript" src="{% static 'angular-moment/angular-moment.min.js' %}"></script>
<script src="{% static 'bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'angular-daterangepicker/js/angular-daterangepicker.js' %}"></script>
<script src="{% static 'angular-material/angular-material.min.js' %}"></script>
<script src="{% static 'angular-aria/angular-aria.min.js' %}"></script>
<script src="{% static 'angular-messages/angular-messages.min.js' %}"></script>
<script src="{% static 'angular-material/angular-material.min.js' %}"></script>
<script src="{% static 'angular-spinner/dist/angular-spinner.min.js' %}"></script>
<script src="{% static 'perfect-scrollbar/dist/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'angular-perfect-scrollbar/src/angular-perfect-scrollbar.js' %}"></script>
<script src="{% static 'tinycolor2/dist/tinycolor-min.js' %}"></script>
<script src="{%  static 'angularjs-color-picker/dist/angularjs-color-picker.js' %}"></script>

<script type="text/javascript">
    window.API_URL = '{{ API_URL }}';
    window.STATIC_URL = '{{ STATIC_URL }}';
    angular.module('adminApp').constant('logoName', '{{ site.domain }}.tb.png');
    angular.module('adminApp').constant('apiUrl', '{{ API_URL }}');
    angular.module('adminApp').constant('staticUrl', '{{ STATIC_URL }}');
    angular.module('adminApp').constant('webClientUrl', '{{ WEB_CLIENT_URL }}');
    angular.module('adminApp').constant('languages', [{% for k, v in LANGUAGES %}['{{ k }}', '{{ v }}']{% if not forloop.last %}, {% endif %}{% endfor %}]);
    angular.module('adminApp').constant('service_languages', [{% for k, v in SERVICE_LANGUAGES %}['{{ k }}', '{{ v }}']{% if not forloop.last %}, {% endif %}{% endfor %}]);
    angular.module('adminApp').constant('userEmail', '{{ request.user }}');
    angular.module('adminApp').constant('user', JSON.parse('{{ USER|safe }}'));
    angular.module('adminApp').constant('selectedProvider', {{ SELECTED_PROVIDER|safe }});
    angular.module('adminApp').constant('permissions', JSON.parse('{{ PERMISSIONS|safe }}'));
    angular.module('adminApp').constant('userRegion', JSON.parse('{{ REGION|safe }}'));
    angular.module('adminApp').constant('selectedLanguage', '{% firstof LANGUAGE_CODE "en" %}');
    angular.module('adminApp').constant('siteName', '{{ site.name }}');
    

    $(function () {
        if (window.L && !window.L.geoJSON) {
            L.geoJSON = L.geoJson;
        }
    });
</script>
<toasty></toasty>
<!--
   
-->
{%if SITE_SETTINGS.CHAT_ENABLED %}
<script>
    var user =  JSON.parse('{{ USER|safe }}')
    window.intercomSettings = {
        app_id: "{{SITE_SETTINGS.CHAT_APP_ID}}",
        alignment: 'left',     
        horizontal_padding: 20, 
        vertical_padding: 20,
        email: user.email,
        name: [user.name, user.surname].filter(function(a) { return a }).join(' '),
        user_hash: "{{SITE_SETTINGS.CHAT_DIGEST}}"
    };
  </script>
  <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/uchonpxg';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
{%endif%}
</body>

</html>