{% load i18n static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site.name }} CMS</title>

    {% include "admin_panel/css.html" %} {% block additional-requirements %}{% endblock %}
</head>

<body class="hold-transition skin-signpost sidebar-mini">
    <div style="height: 100%;">
        <div class="main-flex-container" style="justify-content: center;">
            <div class="logo-header">
                    <img src="/public/static/img/{{site.domain}}.wb.png" />
            </div>
            <div>
                <h1>{% trans "Your password has been set.  You may go ahead and log in now." %}</h1>
            </div>
            <div>
                    <h2><a href="{{ login_url }}">{% trans 'Log in' %}</a></h2>
            </div>
        </div>
    </div>
<script>
</script>

</body>

</html>