<div>
    <div class="region-header" ng-click="ctrl.toggleRegion()">
        <region-icon region="ctrl.region" style="margin-right: 5px"></region-icon>
        <span class="title">{{ ctrl.region.name }}</span>
        <span class="slug">({{ ctrl.selectSectionCount() }} sections)</span>
        <div class="buttons" style="margin-left: auto" ng-click="$event.stopPropagation()">
            <button class="page-button page-button-transparent button-tooltip"
                    id="region-preview-{{ ctrl.region.slug }}"
                    ui-sref="regionPreview({regionSlug: ctrl.region.slug, languageCode: 'en'})"
                    ng-disabled="!ctrl.region.has_content"
                    data-old-tooltip="Page has no content for preview.">
                <i class="fa fa-eye" aria-hidden="true"></i><span>preview</span>
            </button>
        </div>
    </div>
    <div ui-view="regionDetails" auto-scroll="true" ng-if="ctrl.isActive(ctrl.region)" class="expand"></div>

    <div ng-if="ctrl.region.children.length">
        <region ng-repeat="region in ctrl.region.children" region="region"></region>
    </div>
</div>
