{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta-description %}{% endblock %}">
    <meta name="author" content="{% block meta-author %}{% endblock %}">
    <meta name="keywords" content="{% block meta-keywords %}{% endblock %}">
    {% block extra-meta %}{% endblock %}
    {% if debug %}
    <link rel="stylesheet/less" type="text/css" media="all" href="{% static 'less/site.less' %}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.5.1/less.min.js"></script>
    {% else %}
    <link rel="stylesheet" type="text/less" media="all" href="{% static 'less/site.less' %}">
    {% endif %}
    {% block extra-css %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.css' %}" media="screen,projection">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/loading_overlay.css' %}">
    <link rel="stylesheet" type="text/css" href="https://dev.refugee.info/static/scss/content.css">

</head>
<body>
    <div class="container-fluid">
        <div class="col-xs-12 main-content-container">
            {% block content %}{% endblock content %}
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{% static 'js/site.js' %}"></script>
    {% block extra-js %}{% endblock %}
</body>
</html>
