<section class="content-header" ng-controller="ContentHeaderController as chctrl">
    <h1>
        {{ chctrl.state.data.title }}
        <a href="" ui-sref="{{ ctrl.createLink }}" ng-if="ctrl.createLink" class="btn btn-success pull-right">Create</a>
    </h1>
</section>

<section class="content">
    <div>
        <div class="box">
            <div class="box-body table-responsive">
                <table datatable="" dt-options="ctrl.dtOptions" dt-columns="ctrl.dtColumns"
                       dt-instance="ctrl.dtInstance" id="example1" class="table table-bordered table-striped">
                </table>
            </div>
        </div>
    </div>

</section>
