<section class="content-header" ng-controller="ContentHeaderController as chctrl">
    <h1>
        {{ OVERVIEW | translate }} {{ ctrl.isMapView ? 'Map' : 'List' }}
        <small>{{ CLAIMED_BY | translate }} {{ ctrl.provider.name_en}}</small>
    </h1>
</section>

<div class="btn-group" style="padding: 15px 0 0 15px;">
    <button class="btn btn-default" ng-click="ctrl.listView()" style="border-bottom-left-radius: 0;">{{ OVERVIEW_LIST | translate }}</button>
    <button class="btn btn-default" ng-click="ctrl.mapView()" style="border-bottom-right-radius: 0;">{{ OVERVIEW_MAP | translate }}</button>
</div>
<section class="content">
    <div ng-if="!ctrl.isMapView" >
        <div class="box">
            <div class="box-body table-responsive">
                <table datatable="" dt-options="ctrl.dtOptions" dt-columns="ctrl.dtColumns" dt-instance="ctrl.dtInstance" class="table table-bordered table-striped">
                </table>
            </div>
        </div>
    </div>
    <div ng-if="ctrl.isMapView">

        <div class="box">
            <div class="box-body" style="height: calc(100vh - 250px);">
                <services-map services="ctrl.services" is-mobile="ctrl.isMobile()" ng-if="ctrl.isMapView"></services-map>
            </div>
        </div>
    </div>
</section>