<section class="content-header" ng-controller="ContentHeaderController as chctrl">
    <h1>
        {{'SERVICES'| translate}}
    </h1>
</section>

<section class="content">
    <div>
        <div class="box">
            <div class="box-body">
                <form class="form" ng-submit="ctrl.reloadOption(ctrl.searchCriteria)">
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <input type="text" class="form-control" ng-model="ctrl.searchCriteria.search" placeholder="{{'SEARCH'| translate}}">
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group col-xs-4">
                            <label for="">{{'TYPE'| translate}}</label>
                            <select class="form-control" ng-model="ctrl.searchCriteria.type_numbers" ng-options="r.id as r.name for r in ctrl.serviceTypes"></select>
                        </div>
                        <div class="form-group col-xs-4">
                            <label for=""> {{'PROVIDER'| translate}} </label>
                            <select class="form-control" ng-model="ctrl.searchCriteria.provider" ng-options="r.id as r.name for r in ctrl.providers"></select>
                        </div>
                        <div class="form-group col-xs-4"  ng-if="user.isSuperuser">
                            <label for=""> {{'STATUS'| translate}} </label>
                            <select class="form-control" ng-model="ctrl.searchCriteria.status" ng-options="r.id as r.name for r in ctrl.serviceStatus"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-4">
                            <label for=""> {{'REGION'| translate}} </label>
                            <select class="form-control" ng-model="ctrl.regionlvl1" ng-change="onRegionChange()" ng-options="r.slug as r.name for r in ctrl.regionslvl1 | filter:{ slug: 'el-salvador' }" ></select>
                        </div>
                        <div class="form-group col-xs-4">
                            <label for=""> {{'REGION_LVL2'| translate}} </label>
                            <select class="form-control" ng-model="ctrl.regionlvl2" ng-change="onRegionChangelvl2()" ng-options="r.slug as r.name for r in ctrl.regionslvl2"></select>
                        </div>
                        <div class="form-group col-xs-4">
                            <label for=""> {{'REGION_LVL3'| translate}} </label>
                            <select class="form-control" ng-model="ctrl.regionlvl3" ng-change="onRegionChangelvl3()" ng-options="r.slug as r.name for r in ctrl.regionslvl3"></select>
                        </div>
                    </div>

                </form>
                <div class="col-xs-12">
                    <div class="btn-group pull-right">
                        <button class="btn btn-warning " ng-click="ctrl.searchCriteria = {}"> {{'CLEAR_SEARCH'| translate}} </button>
                        <button class="btn btn-primary " ng-hide="ctrl.isMapMode" ng-click="ctrl.reloadOption(ctrl.searchCriteria)"> {{'SEARCH'| translate}} </button>
                        <button class="btn btn-primary " ng-show="ctrl.isMapMode" ng-click="ctrl.showMap(ctrl.searchCriteria)"> {{'SEARCH'| translate}} </button>
                        <button class="btn btn-primary " ng-hide="ctrl.isMapMode" ng-click="ctrl.showMap(ctrl.searchCriteria)"> {{'SHOW_MAP'| translate}} </button>
                        <button class="btn btn-primary " ng-show="ctrl.isMapMode" ng-click="ctrl.isMapMode = false"> {{'HIDE_MAP'| translate}} </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div>
        <div class="box">
            <div class="box-body table-responsive" ng-show="!ctrl.isMapMode">
                <table datatable="" dt-options="ctrl.dtOptions" dt-columns="ctrl.dtColumns" dt-instance="ctrl.dtInstance" class="table table-bordered table-striped">
                </table>
            </div>
            <div class="box-body" ng-show="ctrl.isMapMode" style="min-width: 70%;min-height: calc(100vh - 470px);">
                <leaflet defaults="{
                    tileLayer: 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                    maxZoom: 14}" id="search-map" height="calc(100vh - 470px)"></leaflet>
            </div>
        </div>
    </div>
    <footer-action-bar>
        <div class="col-xs-12">
            <div class="btn-group pull-right">
                <button class="btn btn-warning " ng-click="ctrl.searchCriteria = {}"> {{'CLEAR_SEARCH'| translate}} </button>
                <button class="btn btn-primary " ng-hide="ctrl.isMapMode" ng-click="ctrl.reloadOption(ctrl.searchCriteria)"> {{'SEARCH'| translate}} </button>
                <button class="btn btn-primary " ng-show="ctrl.isMapMode" ng-click="ctrl.showMap(ctrl.searchCriteria)"> {{'SEARCH'| translate}} </button>
            </div>
        </div>
    </footer-action-bar>
</section>