<div class="service-confirm-container">
    <div class="logo-header" ng-class="{'hidden': user}">
        <img src="/public/static/img/logo-admin.png"/>
    </div>
    <div class="form-container">
        <div class="box-border" ng-if="!ctrl.invalidConfirmationKey && !ctrl.confirmationSucceeded">
            <form name="ctrl.confirmForm"
                  ng-submit="ctrl.confirm()">
                <label  ng-if="ctrl.sendAnnotation" for="note">{{ 'YOUR_ANNOTATIONS_ABOUT_SERVICE' | translate }}</label>
                <textarea name="note" ng-if="ctrl.sendAnnotation" class="form-control" type="text" ng-model="ctrl.note" class="confirm-note" style="resize: vertical; margin: 10px 0 10px 0;"></textarea>
                <div class="btn-group" btn-group  style="display: flex; justify-content: center; margin-bottom: 10px">
                    <button type="submit" class="btn btn-success">{{ ctrl.sendAnnotation ? SUBMIT : CONFIRM | translate }}</button>
                    <a class="btn btn-info" ng-if="!ctrl.sendAnnotation" ng-click="ctrl.sendAnnotation = true">{{ 'ADD_NOTE' | translate }}</a>
                    <a class="btn btn-info" ng-if="ctrl.sendAnnotation" ng-click="ctrl.sendAnnotation = false">{{ 'REMOVE_NOTE' | translate }}</a>
                </div>
            </form>
            <table class="table table-bordered table-responsive table-striped">
                <tr ng-repeat="(key, value) in ctrl.service_data['general_info']">
                    <td align="center">{{ key }}</td>
                    <td align="center" class="confirmation-value-column">
                        <div ng-bind-html="value"></div>
                    </td>
                </tr>
                <tr ng-repeat="(key, value) in ctrl.service_data['address']">
                    <td align="center">{{ key }}</td>
                    <td align="center" class="confirmation-value-column">{{ value }}</td>
                </tr>
                <tr ng-repeat="(key, value) in ctrl.service_data['other_info']">
                    <td align="center">{{ key }}</td>
                    <td align="center" class="confirmation-value-column">{{ value }}</td>
                </tr>
                <tr ng-if="ctrl.service_data['opening_hours']['24/7']">
                    <td align="center">{{ 'OPENING_HOURS' | translate }}</td>
                    <td align="center">{{ SERVICE_IS_OPEN_24_7 | TRANSLATE }}</td>
                </tr>
                <tr ng-if="!ctrl.service_data['opening_hours']['24/7']">
                    <td colspan="2" align="center">{{ 'OPENING_HOURS' | translate }} </td>
                </tr>
                <tr ng-if="!ctrl.service_data['opening_hours']['24/7']" ng-repeat="day in ctrl.days">
                    <td align="center">{{ day.toUpperCase() }}</td>
                    <td align="center">
                        <p ng-repeat="shift in ctrl.service_data['opening_hours'][day]">
                            <span ng-if="shift['open'] && shift['close']">{{ shift['open'] | formatTime }}</span>
                            <span ng-if="shift['open'] && shift['close']"> - </span>
                            <span ng-if="shift['open'] && shift['close']">{{ shift['close'] | formatTime }}</span>
                            <span ng-if="!shift['open'] && !shift['close'] && $first && $last">{{ 'SERVICE_CLOSED' | translate }}</span>
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="box-border confirmation-info-container" ng-if="ctrl.invalidConfirmationKey || ctrl.confirmationSucceeded">
            <span ng-if="ctrl.invalidConfirmationKey" class="confirmation-info">{{ 'CONFIRMATION_KEY_INVALID' | translate}}</span>
            <span ng-if="ctrl.confirmationSucceeded" class="confirmation-info">{{ 'THANK_YOU_FOR_YOUR_CONFIRMATION' | translate}}</span>
        </div>
    </div>
</div>