<div class="modal-header">
    <div class="pages-header">
        <h3>Archive Service</h3>
    </div>
</div>
<div class="modal-body">
    <p>Are you sure you want to archive this service?:</p>
</div>
<div class="modal-footer">
    <div class="flex-end">
        <button type="button" ng-click="ctrl.cancel()" class="page-button"
                id="cancel-{$ ctrl.serviceId $}">
            <i class="fa fa-undo" aria-hidden="true"></i><span>No, cancel</span>
        </button>
        <button type="button" class="page-button"
                id="confirm-{$ ctrl.serviceId $}"
                ng-click="ctrl.confirm()">
            <i class="fa fa-check" aria-hidden="true"></i><span>Yes, archive</span>
        </button>
    </div>
</div>
