.iconpicker-search {
  padding: 0; }

div.modal.fade.in {
  padding: 0 !important; }

.navbar {
  background-color: #FFFFFF;
  color: #000000 !important;
  border: 0;
  border-radius: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  margin: 0; }
  @media (min-width: 768px) {
    .navbar {
      height: 80px;
      padding: 24px 10px 0 10px; } }
  .navbar a {
    color: #000000; }
    .navbar a:hover {
      color: #565656; }

.navbar-flex {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between; }
  .navbar-flex img {
    height: 45px;
    margin-bottom: 5px; }
  .navbar-flex img.flag-img {
    margin: 0;
    height: 20px;
    padding-bottom: 2px; }
  .navbar-flex a.logo-link {
    display: flex;
    justify-content: center;
    transition: 0.2s all linear; }
    .navbar-flex a.logo-link:hover {
      filter: brightness(1.1); }
  .navbar-flex .navbar-left, .navbar-flex .navbar-right {
    flex: 1; }
  .navbar-flex .navbar-left {
    display: flex;
    flex-direction: row; }
    .navbar-flex .navbar-left .ui-select-container {
      width: 200px; }
      .navbar-flex .navbar-left .ui-select-container:focus {
        outline: none; }
    .navbar-flex .navbar-left .environment-select.ui-select-container {
      width: 160px; }
      .navbar-flex .navbar-left .environment-select.ui-select-container .ui-select-match, .navbar-flex .navbar-left .environment-select.ui-select-container li.ui-select-choices-group {
        text-transform: capitalize; }
    .navbar-flex .navbar-left .ui-select-toggle {
      border: none;
      box-shadow: none; }
      .navbar-flex .navbar-left .ui-select-toggle span {
        text-align: center; }
    .navbar-flex .navbar-left .ui-select-match, .navbar-flex .navbar-left li.ui-select-choices-group {
      text-align: center; }
    .navbar-flex .navbar-left .breadcrumbs {
      margin-right: 20px;
      display: flex;
      flex-direction: row;
      align-items: center; }
  .navbar-flex .navbar-right {
    height: 50px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    @media (max-width: 767px) {
      .navbar-flex .navbar-right {
        display: none; } }
    .navbar-flex .navbar-right .language-choice {
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: flex-end; }
      .navbar-flex .navbar-right .language-choice i.fa {
        margin-right: 3px; }
      .navbar-flex .navbar-right .language-choice a {
        padding: 0 10px;
        text-transform: uppercase;
        font-size: 10px;
        color: #969696; }
        .navbar-flex .navbar-right .language-choice a.active {
          color: #000000; }
    .navbar-flex .navbar-right .login-partial {
      display: flex;
      justify-content: flex-end; }
      .navbar-flex .navbar-right .login-partial i.fa {
        font-size: 20px;
        cursor: pointer;
        padding: 0 10px; }
        .navbar-flex .navbar-right .login-partial i.fa:hover {
          color: #565656; }
      .navbar-flex .navbar-right .login-partial span, .navbar-flex .navbar-right .login-partial i.fa {
        display: flex;
        align-items: center; }

@media (max-width: 767px) {
  .container-fluid {
    padding: 0; } }

.main-content-container {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  background-color: #FFFFFF;
  margin: 20px auto 10px;
  float: none;
  padding: 10px 20px;
  border-radius: 3px; }
  .main-content-container:empty {
    display: none; }

.row-container {
  display: flex;
  flex-direction: row; }
  .row-container .column:first-of-type {
    flex: 1;
    margin-right: 5px;
    margin-bottom: 0; }
  .row-container .column:last-of-type {
    flex: 1;
    margin-left: 5px;
    margin-bottom: 0; }

.country-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.13);
  height: 100px;
  color: #565656;
  background-color: #FFFFFF;
  transition: box-shadow 0.2s ease-out;
  margin-bottom: 10px; }
  .country-button:hover, .country-button:active, .country-button:focus {
    text-decoration: none;
    color: #565656;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); }
  .country-button .country-flag {
    height: 50px;
    width: 50px;
    margin-left: 40px;
    font-size: 54px; }
  .country-button .country-name {
    display: block;
    flex: 1;
    text-align: center;
    font-size: 16px; }

.environment-button {
  text-transform: uppercase; }

region, page {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  flex: 1; }

h2 {
  margin-bottom: 20px; }

.pages-header, .region-header {
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 10px;
  flex: 1; }
  .pages-header h3, .region-header h3 {
    margin: 0;
    font-size: 18px;
    text-transform: uppercase; }

.region-header {
  background-color: #F3F4F5; }

.pages-header {
  border-bottom: 1px solid #EBEBEB; }

.separate-scrollbar {
  max-height: calc(100vh - 220px);
  overflow-y: hidden;
  position: relative; }

.region-header {
  margin-bottom: 0;
  border-bottom: 1px solid #FFFFFF;
  justify-content: flex-start;
  cursor: pointer; }
  .region-header span {
    font-size: 16px; }
  .region-header button span {
    font-size: 12px; }
  .region-header span.slug {
    margin-left: 5px; }
  .region-header:hover {
    background-color: #EBECED; }

.page-header {
  margin: 0;
  padding: 0 10px;
  height: 46px;
  border-bottom: 1px solid #EBEBEB;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  cursor: pointer; }
  .page-header:hover {
    background-color: #FBFBFB; }

.page-header-inner {
  flex: 1;
  display: flex; }
  .page-header-inner .page-header-icon-container {
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .page-header-inner i.fa {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #27a442;
    width: 22px; }

.page-selected {
  background-color: #EBECED;
  border: 2px solid white; }
  .page-selected .page-header {
    border-bottom-color: transparent; }
  .page-selected .page-buttons {
    min-height: 44px; }
  .page-selected .page-header:hover {
    background-color: #e6e7e8; }

.page-highlighted {
  background-color: #f2f2f2; }
  .page-highlighted .page-header {
    border-bottom: 1px solid #c7c7c7; }
  .page-highlighted .page-header:hover {
    background-color: #DDDDDD; }

.page-update-form {
  display: flex;
  flex-direction: column; }

.region-dnd-list .buttons .page-icons {
  padding-right: 0; }

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end; }
  .buttons .form-group {
    position: relative; }
    .buttons .form-group i.fa {
      position: absolute;
      left: 10px;
      top: 8px; }
  .buttons .form-control {
    height: 30px;
    padding: 5px 12px 5px 30px;
    margin: 2px 3px;
    border: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 12px; }
  .buttons .page-icons {
    display: flex;
    flex-direction: row;
    padding-right: 15px; }
    .buttons .page-icons i.fa {
      color: #00BA50;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      font-size: 16px; }
      .buttons .page-icons i.fa:hover {
        color: #27a442; }
      .buttons .page-icons i.fa.tooltip-icon {
        position: relative; }
      .buttons .page-icons i.fa.tooltip-icon:hover:after {
        background: rgba(0, 0, 0, 0.7);
        border-radius: 3px;
        bottom: 15px;
        right: -10px;
        color: #fff;
        content: attr(data-tooltip);
        padding: 3px;
        position: absolute;
        z-index: 98;
        width: 50px;
        text-align: center;
        font-size: 14px;
        text-transform: uppercase;
        font-family: 'Montserrat', Helvetica, Arial, sans-serif; }
      .buttons .page-icons i.fa.fa-star.tooltip-icon:hover:after {
        width: 100px;
        right: -10px; }
      .buttons .page-icons i.fa.fa-eye-slash.tooltip-icon:hover:after {
        width: 70px;
        right: -10px; }
      .buttons .page-icons i.fa.fa-window-restore.tooltip-icon:hover:after {
        width: 70px;
        right: -10px; }
      .buttons .page-icons i.fa.fa-square-o.tooltip-icon:hover:after {
        width: 70px;
        right: -10px; }

.page-button {
  border: 0 solid #00BA50;
  background-color: #FFFFFF;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0 8px;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 30px;
  margin: 2px 3px;
  transition: 0.3s all ease-out; }
  .page-button:hover {
    background-color: #fcfcfc;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25); }
  .page-button:focus {
    outline: none;
    box-shadow: 0 0 2px 1px #00BA50; }
  .page-button:disabled {
    color: #bcbcbc; }
    .page-button:disabled:hover {
      background-color: #FFFFFF;
      cursor: not-allowed; }
    .page-button:disabled.button-tooltip {
      position: relative; }
    .page-button:disabled.button-tooltip:hover:after {
      background: rgba(0, 0, 0, 0.7);
      border-radius: 3px;
      bottom: 38px;
      right: 0;
      color: #fff;
      content: attr(data-tooltip);
      padding: 3px;
      position: absolute;
      z-index: 98;
      width: 104px;
      font-size: 10px; }
  .page-button i.fa {
    font-size: 15px;
    margin-right: 5px; }
  .page-button span {
    display: block; }

.page-button-active {
  outline: none;
  box-shadow: 0 0 2px 1px #00BA50; }

.page-button-green {
  background-color: #59c06c;
  color: #FFFFFF;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25); }
  .page-button-green:hover {
    background-color: #27a442; }
  .page-button-green:disabled {
    background-color: transparent; }

.page-button-dark {
  background-color: #000000;
  color: #FFFFFF;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25); }
  .page-button-dark:hover {
    background-color: #565656; }
  .page-button-dark:focus {
    outline: none;
    box-shadow: 0 0 2px 1px #000000; }

.page-button-transparent {
  background-color: transparent;
  box-shadow: none;
  color: #27a442; }
  .page-button-transparent:hover {
    background-color: transparent;
    box-shadow: none;
    color: #59c06c; }
  .page-button-transparent:disabled:hover {
    color: #a3a3a3;
    background-color: transparent; }

.page-button-transparent-green {
  background-color: transparent;
  box-shadow: none;
  color: #27a442; }
  .page-button-transparent-green:hover {
    background-color: transparent;
    box-shadow: none;
    color: #27a442; }
  .page-button-transparent-green:disabled {
    color: #27a442; }
    .page-button-transparent-green:disabled:hover {
      background-color: transparent;
      box-shadow: none;
      color: #27a442; }

.ckeditor-button {
  position: absolute;
  right: 0;
  top: 6px;
  border: 1px solid #a6a6a6;
  height: 28px;
  box-shadow: none;
  font-size: 11px; }

.divider {
  width: 100%;
  border-bottom: 1px solid #EBEBEB; }

.divider-dark {
  width: 100%;
  border-bottom: 1px solid #dedede; }

.page-details-container {
  padding: 0 10px;
  display: flex;
  flex-direction: column; }

.transifex-status-container {
  padding-left: 22px;
  height: 36px;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  text-transform: uppercase; }
  .transifex-status-container label {
    width: 140px;
    margin: 0 5px 0 0;
    font-weight: normal; }

.transifex-status {
  padding: 0 10px;
  display: inline; }

.transifex-completed {
  color: #27a442; }

.page-buttons {
  margin: 0;
  padding: 3px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: margin 0.1s ease-out, padding 0.1s ease-out; }
  .page-buttons i.fa-chevron-right {
    margin: 0 5px 0 10px; }

.flex-end {
  display: flex;
  justify-content: flex-end; }

.slug {
  color: #27a442; }

.no-margin {
  margin: 0; }

.form-horizontal .form-group {
  margin-bottom: 10px; }

.form-horizontal .help-block {
  font-size: 12px; }

.login-form-container .form-horizontal .form-group {
  margin-bottom: 15px; }

.form-control.ng-invalid-required, .form-control.ng-invalid-pattern, .form-control.ng-invalid-slug-taken, .form-control.ng-invalid-maxlength, .form-control.ng-invalid-minlength {
  box-shadow: 0 0 1px 1px rgba(208, 39, 30, 0.4);
  border-color: transparent; }
  .form-control.ng-invalid-required:focus, .form-control.ng-invalid-pattern:focus, .form-control.ng-invalid-slug-taken:focus, .form-control.ng-invalid-maxlength:focus, .form-control.ng-invalid-minlength:focus {
    outline: none;
    box-shadow: 0 0 2px 2px rgba(208, 39, 30, 0.4);
    border-color: transparent; }

.form-control:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #27a442;
  border-color: transparent; }

.radio-buttons-container {
  display: flex;
  flex-direction: row; }
  .radio-buttons-container div.radio-button {
    position: relative;
    height: 40px;
    margin-right: 10px; }
    .radio-buttons-container div.radio-button label {
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
      border-radius: 3px;
      margin: 0;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 100px;
      padding: 0 10px;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 12px; }
      .radio-buttons-container div.radio-button label i.fa {
        padding-right: 5px;
        font-size: 16px; }
    .radio-buttons-container div.radio-button input {
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      margin: 0; }
    .radio-buttons-container div.radio-button input[type="radio"]:checked + label {
      background-color: #00BA50;
      color: white; }
    .radio-buttons-container div.radio-button input[type="radio"].ng-invalid + label {
      box-shadow: 0 0 1px 1px rgba(208, 39, 30, 0.4); }

.input-alert {
  width: 100%;
  padding: 7px 15px;
  background-color: #FFFFFF;
  margin-bottom: 15px;
  border-radius: 4px;
  box-shadow: 0 0 1px 1px rgba(208, 39, 30, 0.4); }

.create-page-container {
  padding: 0 10px;
  background: #F3F4F5; }

.content-container {
  margin-top: 15px; }

.content-container-buttons {
  border-bottom: 1px solid #EBEBEB;
  margin-bottom: 15px;
  padding: 5px 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

.double-border {
  border-bottom: double 3px #EBEBEB; }

form.form-horizontal .form-group {
  margin: 0; }

form.form-horizontal div.padded {
  padding-left: 15px;
  padding-right: 15px; }
  form.form-horizontal div.padded.box-footer, form.form-horizontal div.padded.box-body {
    padding-left: 25px;
    padding-right: 25px; }

.buttons-right {
  text-align: right; }

.newsletter-email-box .box-tools {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  .newsletter-email-box .box-tools button {
    width: 100%;
    height: 100%; }
    .newsletter-email-box .box-tools button i {
      float: right;
      margin-right: 5px; }

div.cke + label {
  display: none; }

div.cke_contents {
  background-color: #FFFFFF; }

span.cke_top {
  box-shadow: none;
  background: #F3F4F5 none;
  border-bottom: none; }

span.cke_bottom {
  background: #FFFFFF; }

a.cke_button.cke_button_off {
  background-color: #FFFFFF; }
  a.cke_button.cke_button_off:hover {
    background-color: #f5f5f5; }

span.cke_toolgroup {
  background-color: #FFFFFF; }

.dynamic-richtextcontent_set {
  background-color: #F4F5F6; }

.dynamic-richtextcontent_set label {
  display: none; }

.dynamic-richtextcontent_set .field-text {
  padding: 0; }

div.iphone-simulator {
  border: 110px solid black;
  border-right-width: 20px;
  border-left-width: 20px;
  width: 375px !important;
  height: 667px !important;
  border-radius: 55px;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 0 !important; }

.cke_button_icon.cke_button__mobileviewtoggle_icon {
  background: url(../img/phone_icon.png) no-repeat; }

.cke_button_icon.cke_button__desktopviewtoggle_icon {
  background: url(../img/computer_icon.png) no-repeat; }

.cke_button_icon.cke_button__hideonlighttoggle_icon {
  background: url(../img/hide_icon.png) no-repeat; }

.cke_button_icon.cke_button__whitebuttontoggle_icon {
  background: url(../img/link_white_icon.png) no-repeat; }

.cke_button_icon.cke_button__greenbuttontoggle_icon {
  background: url(../img/link_green_icon.png) no-repeat; }

.cke_button_icon.cke_button__normallinktoggle_icon {
  background: url(../img/link_normal_icon.png) no-repeat; }

.cke_button_icon.cke_button__subsectionlink_icon {
  background: url(../img/link_subsection_icon.png) no-repeat; }

#toasty .toast.toasty-theme-default {
  opacity: 1; }
  #toasty .toast.toasty-theme-default.toasty-type-success {
    background-color: #59c06c; }
  #toasty .toast.toasty-theme-default.toasty-type-error {
    background-color: #e54c3a; }
  #toasty .toast.toasty-theme-default .toast-text .toast-title {
    font-size: 15px;
    font-weight: normal; }
  #toasty .toast.toasty-theme-default .toast-msg {
    font-size: 13px; }

#toasty .toast {
  width: 320px;
  box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.35); }

#toasty .toast.ng-enter {
  transition: 0.4s all ease-out;
  opacity: 0;
  transform: translateX(80px); }

#toasty .toast.ng-enter.ng-enter-active {
  opacity: 1;
  transform: translateX(0); }

#toasty .toast.ng-leave {
  transition: 0.4s all ease-out;
  opacity: 1;
  transform: translateX(0); }

#toasty .toast.ng-leave.ng-leave-active {
  opacity: 0;
  transform: translateX(-80px); }

.general-info-container {
  padding: 30px; }
  @media (max-width: 767px) {
    .general-info-container {
      padding: 0; } }

.general-info-item-content {
  padding: 10px 0; }

.general-info-item-header {
  height: 46px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-align-items: center;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -webkit-box-pack: flex-start;
  color: #000000;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  border-bottom: 1px solid #EBEBEB; }
  .general-info-item-header:hover {
    background-color: #DDDDDD; }
  .general-info-item-header .general-info-item-header-inner {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -webkit-box-pack: flex-start;
    align-items: center; }
    @media (max-width: 767px) {
      .general-info-item-header .general-info-item-header-inner {
        width: 100%; } }
    .general-info-item-header .general-info-item-header-inner a {
      color: #000000; }
  .general-info-item-header .general-info-item-header-inner.ltr {
    text-align: left; }
  .general-info-item-header .general-info-item-header-inner.rtl {
    text-align: right; }
  .general-info-item-header i.fa {
    padding: 0 10px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    color: #27a442; }

.preview-icon-container {
  height: 34px;
  display: flex;
  align-items: center; }
  .preview-icon-container .preview-icon {
    font-size: 20px; }

.preview-rtl {
  direction: rtl; }

.ui-select-multiple.ui-select-bootstrap {
  padding: 1px 2px 2px;
  min-height: 34px; }

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
  padding: 0 2px;
  margin: 2px;
  height: 26px; }

.region-icon-select {
  height: 26px;
  padding: 0 2px; }

div.ui-select-container.ui-select-multiple > div {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap; }
  div.ui-select-container.ui-select-multiple > div input {
    width: auto;
    flex: 1; }

div.ui-select-container.ng-invalid span.ui-select-toggle {
  box-shadow: 0 0 1px 1px rgba(208, 39, 30, 0.4); }

.ui-select-bootstrap .ui-select-choices-row.active > span {
  background-color: #27a442; }

.ui-select-match-item.btn.btn-default.btn-xs.btn-primary {
  background-color: inherit;
  color: inherit;
  border-color: #ccc; }
  .ui-select-match-item.btn.btn-default.btn-xs.btn-primary:hover {
    background-color: #e6e6e6; }

.ui-select-match-item.btn-xs {
  font-size: 14px; }

.fa-animated {
  transition: all 0.2s ease-out; }
  .fa-animated.chevron-rotated {
    transform: rotate(90deg); }

.collapse-button-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 46px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .collapse-button-container:hover {
    text-decoration: none;
    cursor: pointer; }
    .collapse-button-container:hover i.fa {
      text-decoration: none;
      color: #00BA50; }
  .collapse-button-container i.fa {
    color: #27a442;
    font-size: 16px; }

.login-form-container {
  margin: 50px auto 0;
  max-width: 600px;
  background-color: #FFFFFF;
  padding: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4); }
  .login-form-container button {
    padding: 0 15px;
    height: 34px;
    font-size: 14px; }
  .login-form-container .alert-danger {
    text-align: center; }

.toggle-box {
  display: none; }
  .toggle-box + label {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
    line-height: 30px;
    background-color: #F2F2F2;
    margin: 0; }
    .toggle-box + label p {
      margin: 0;
      padding: 5px 0; }
    .toggle-box + label + div {
      display: none;
      margin-bottom: 10px; }
  .toggle-box:checked + label + div {
    display: block; }
  .toggle-box:checked + label:before {
    content: "\2212"; }
  .toggle-box + label:before {
    background-color: #00BA50;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    content: "+";
    display: block;
    float: left;
    font-weight: bold;
    height: 20px;
    width: 20px;
    line-height: 20px;
    margin: 10px;
    text-align: center; }

div.answer {
  padding: 10px;
  background-color: #FAFAFA; }

.video {
  position: relative;
  display: block;
  margin: 10px auto; }
  .video:before {
    transition: opacity 0.2s ease-out;
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent url(../img/play_button.png) no-repeat center;
    pointer-events: none;
    opacity: 0.66; }
  .video:hover:before {
    opacity: 1; }
  .video img {
    display: block;
    margin: 0 auto; }

div.video-container {
  display: flex;
  align-items: center;
  justify-content: center; }

.footnotes_list label {
  max-height: 100px;
  overflow: auto;
  word-break: break-all; }

.fb-container {
  justify-content: center;
  display: flex;
  padding-bottom: 15px; }

.fb-post {
  padding: 10px;
  display: inline-block;
  overflow: hidden;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4); }
  @media (max-width: 767px) {
    .fb-post {
      width: 100%; } }
  @media (min-width: 768px) {
    .fb-post {
      width: 600px; } }

.fb-post-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px; }

.fb-post-header-left {
  display: flex; }

.fb-post-body {
  display: block; }

.fb-post-img {
  padding-right: 1px;
  padding-bottom: 5px;
  padding-top: 1px; }

.fb-post-video {
  padding-bottom: 5px;
  position: relative;
  display: block;
  margin: 10px auto; }
  .fb-post-video:before {
    transition: opacity 0.2s ease-out;
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent url(../img/fb_play_button.png) no-repeat center;
    pointer-events: none;
    opacity: 0.66; }
  .fb-post-video:hover:before {
    opacity: 1; }
  .fb-post-video img {
    width: 100%;
    display: block;
    margin: 0 auto; }

.fb-post-info {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .fb-post-info a:first-of-type {
    font-weight: bold; }
  .fb-post-info a:last-of-type {
    font-size: 12px; }
  .fb-post-info a {
    text-decoration: none !important; }

.fb-post-link {
  margin-left: auto;
  padding-right: 1px; }

.fb-user-cover a {
  height: 100%; }
  .fb-user-cover a img {
    width: 50px;
    height: 50px; }

.link-content {
  position: relative;
  height: 46px; }

.link {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 100; }
  .link:hover {
    background-color: #DDDDDD; }

.general-info-box {
  padding: 10px;
  border: 2px solid #EBEBEB;
  text-align: center;
  margin-bottom: 10px; }

@media (min-width: 768px) {
  .important-information-container {
    border-top: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 70px; } }

.important-information-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -webkit-transiton: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  -transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  color: #565656;
  background-color: transparent;
  margin: 0 !important;
  cursor: pointer;
  font-size: 12px;
  text-align: center; }
  .important-information-item:hover {
    background-color: #DDDDDD; }
  .important-information-item:last-of-type .important-information-item-inner.ltr {
    border-right: 0; }
  .important-information-item:first-of-type .important-information-item-inner.rtl {
    border-right: 0; }
  .important-information-item.active {
    background-color: #F3F4F5; }

.important-information-item-inner {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  @media (max-width: 767px) {
    .important-information-item-inner {
      border-top: 1px solid #c7c7c7;
      height: 50px; } }
  @media (min-width: 768px) {
    .important-information-item-inner {
      border-right: 1px solid #c7c7c7;
      height: 45px; } }

.important-information-content {
  margin: 10px 0;
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  padding: 10px;
  font-size: 14px; }
  .important-information-content img {
    max-width: 100%; }
  @media (max-width: 767px) {
    .important-information-content {
      padding: 10px 0; }
      .important-information-content ul {
        -webkit-padding-start: 20px;
        -moz-padding-start: 20px; } }

.rss-body img {
  max-width: 100%;
  height: auto; }

.subsection-link {
  pointer-events: none; }

.ng-leave, .ng-hide.ng-hide-animate {
  display: none; }

.relative {
  position: relative; }

img.flag-img {
  margin: 0;
  height: 25px;
  padding: 0 5px; }

region .collapsed, .column .collapsed {
  height: 0;
  max-height: 0;
  overflow: hidden; }

.open {
  max-height: 100%; }

.region-dnd-list-empty {
  color: #565656;
  font-style: italic;
  font-size: 14px; }

.dndPlaceholder {
  height: 46px;
  background-color: #00BA50; }

.region-dnd-list .dndDraggingSource {
  display: none; }

#dnd-main-list .dndDraggingSource {
  outline: solid 2px #00BA50; }

.dndDragover {
  outline: dashed 1px #00BA50; }

.dnd-list-trash {
  position: fixed;
  top: 109px;
  width: calc((100% - 230px - 40px) / 2); }
  @media (max-width: 991px) {
    .dnd-list-trash {
      width: calc((100% - 40px) / 2); } }
  .dnd-list-trash .dndPlaceholder {
    display: none; }
  .dnd-list-trash .dndDragover {
    outline: dashed 2px #f93d2e; }

.dnd-trash {
  height: 46px;
  background-color: #f98d7e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #FFFFFF; }
  .dnd-trash span {
    text-transform: uppercase;
    font-size: 12px; }
  .dnd-trash i.fa {
    font-size: 24px;
    padding: 0 10px; }

ins {
  background-color: #c8eace;
  text-decoration: none; }
  ins > img {
    border: 3px dashed #00BA50; }

del {
  background-color: #f7c7c1;
  text-decoration: none; }
  del > img {
    border: 3px dashed #e54c3a; }
