.EditView {
	.color-input{
		max-width: 50px;
	}
	.circle-picker{
		padding: 20px;
	}
	.nav-tabs .nav-link.active {
		background-color: #ededed;
		border: none;
	}
	.nav-link{ 
		color: inherit; 
	}
	.nav-link :hover{ 
		color: inherit; 
	}
	.tab-content{
		padding-top: 20px;
	}
}
