*.sw[po]
*.py[co]
.idea
.project
.pydevproject
*~
*.db
*.orig
*.DS_Store
.coverage
#*/settings/local.py
post_submit.png
pre_submit.png
public/static/
public/media/
secrets.sls*
*.log
frontend/node_modules
frontend/bundle.js
frontend/bundle_min.js
frontend/config.json
frontend/styles/site.css
frontend/styles/site-ltr.css
frontend/styles/site-rtl.css
service_info/static/lib/
service_info/static/js/dist/
service_info/static/css/site.css
service_info/static/css/site-mini.css
service_info/static/css/site-ltr.css
service_info/static/css/site-rtl.css
service_info/static/css/site-mini-rtl.css
service_info/static/css/materialize*
service_info/static/css/fullcalendar*
service_info/localsettings.py
/components/
node_modules
bundle_min.js
feedback-help.hbs
service_info.log.*
_build/
local_settings.py
venv
+.sass-cache
cms/static/css/*.css
cms/static/css/*.map

admin_panel/static/css/admin-main.css
admin_panel/static/css/admin-main.css.map
admin_panel/static/js/adminApp/app.built.js
admin_panel/static/js/adminApp/templates.js
admin_panel/static/less/admin.css
admin_panel/static/less/build/
cms/static/js/cmsApp/templates.js
provider_portal/static/js/sppApp/app.built.js
provider_portal/static/js/sppApp/templates.js
service_info/whoosh_index

.v/
init.sh
node_modules
bower_components