.List {
	background-color: white;
	box-shadow: 0 0 8px 0px #e3e3e3;
	table {
		border-left: none;
		border-right: none;
		color: #52575a;
	
		td, th {
			border: 1px solid #f0f0f0;
			border-left: none;
			border-right: none;
		}

		th {
			border-bottom-width: 1px;
		}

		tbody {
			tr {
				cursor: pointer;
			}

			tr:hover {
				background-color: #eee !important;
			}

			tr:nth-of-type(odd) {
				background-color: white;
			}
			
			tr:nth-of-type(even) {
				background-color: #f8fafb;
			}

		}
	}
}
