#cms-main {
  .pagination {
    padding-left: 0;

    li {
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      &.active {
        background-color: white;
        color: black;
      }
    }
  }

  .aldryn-newsblog-pager {
    background-color: black !important;

    ul {
      padding-left: 0;
      li {
        list-style-type: none;
        margin-right: 2rem;

        a {
          display: inline;
          padding: 0;
        }
      }
    }
  }
}
