{% load i18n %}{% autoescape off %}
    {% blocktrans with site_name=site.name %}You're receiving this email because you requested a password reset for your
        user account at Refugee.Info Admin.{% endblocktrans %}

    {% trans "Please go to the following page and choose a new password:" %}
    {% block reset_link %}
        <a href="{{ reset_link }}">{{ reset_link }}</a>
    {% endblock %}
    <br/>
    <br/>
    {% trans "Your username is your email address:" %} {{ user.email }}
    <br/>

    {% trans "Thanks for using our site!" %}

    {% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}

{% comment %}
**password reset email.html**

Used to generate the html body of the password reset email. Should display a
link the user can click to reset their password. This template has the
following context:

``reset_link``
    The reset link for the new account.

``site``
    An object representing the site on which the user registered;
    depending on whether ``django.contrib.sites`` is installed, this
    may be an instance of either ``django.contrib.sites.models.Site``
    (if the sites application is installed) or
    ``django.contrib.sites.models.RequestSite`` (if not). Consult `the
    documentation for the Django sites framework
    <http://docs.djangoproject.com/en/dev/ref/contrib/sites/>`_ for
    details regarding these objects' interfaces.

``user``
    The new user account
{% endcomment %}
