{% extends "cms/content-types/two-column.html" %}
{% load cms_tags %}

{% block main-class %}homepage{% endblock main-class %}

{% block hero %}
  <section class="hero">
    <div class="hero-image">
      {% placeholder "hero_image" %}
    </div>
    <div class="hero-text white-text">
      <div class="container">
        {% placeholder "hero_text" %}
      </div>
    </div>
  </section>
{% endblock hero %}

{% block main-column-class %}main-col{% endblock main-column-class %}
{% block secondary-column-class %}secondary-col{% endblock secondary-column-class %}
{% block rating-class %}main-content{% endblock rating-class %}

{% block content %}
  <div class="main-container">
    {% static_placeholder "content" %}
  </div>
{% endblock content %}

{% block sidebar-content %}
  <!--
    Placeholder Twitter timeline, put here pending the addition of a proper
    Aldryn Twitter timeline plug-in (or suchlike).
  -->
  <a class="twitter-timeline" href="https://twitter.com/ServiceinfoLB" data-widget-id="677424375453249536">Tweets by @ServiceinfoLB</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  {% static_placeholder "main-content-side" %}
{% endblock sidebar-content %}
