{% extends "cms/content-types/wide-page.html" %}
{% load cms_tags %}

{% block main-class %}{{ block.super }} two-column{% endblock main-class %}

{% block wrap-content %}
    <section class="row main-content">
        <div class="col s12 m9 main-column {% block main-column-class %}{% endblock main-column-class %}">
            {% block content %}
                <section>
                    {% placeholder "content" %}
                </section>
            {% endblock content %}
        </div>
        <div class="col s12 m3 secondary-column {% block secondary-column-class %}{% endblock secondary-column-class %}">
            {% block sidebar-content %}
                <section>
                    {% placeholder "sidebar_content" %}
                </section>
            {% endblock sidebar-content %}
        </div>
    </section>
{% endblock wrap-content %}
