{% load aldryn_forms_tags i18n %}

{% if field %}
  <div class="input-field col s12">
    {% block form_field %}
      {% render_form_widget field class="form-control" %}
    {% endblock form_field %}

    {% block form_field_label %}
      <label for="{{ field.id_for_label }}">
        {{ field.label }}
      </label>
    {% endblock form_field_label %}

    {% block form_field_errors %}
      {% if field.errors %}
        {% for error in field.errors %}<span class="text-danger">{{ error }}</span>{% endfor %}
      {% endif %}
    {% endblock form_field_errors %}

    {% block form_field_help_text %}
      {% if field.help_text %}<span class="help-block">{{ field.help_text }}</span>{% endif %}
    {% endblock form_field_help_text %}
  </div>
{% endif %}
