@import "../../includes/mixins.less";

.side-nav {
  .logo {
    padding: 2rem 3rem;
    background-color: white !important;
    @media (max-width: 991px) {
      height: 128px;
      padding: 1rem;
    }
    .brand-logo {
      height: auto;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
