{% load i18n %}

<ul class="pagination">
    <li class="waves-effect {% if not page_obj.has_previous %}disabled{% endif %}">
        {% if page_obj.has_previous %}
            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}" aria-label="{% trans "Previous" %}">
        {% endif %}
            <i aria-hidden="true" class="material-icons">{% if request.LANGUAGE_CODE == 'ar' %}chevron_right{% else %}chevron_left{% endif %}</i>
        {% if page_obj.has_previous %}
            </a>
        {% endif %}
    </li>

    {% for num in page_obj.paginator.page_range %}
        {% if num %}
            {% if page_obj.number == num %}
                <li class="active waves-effect">{{ num }}</li>
            {% else %}
                <li class="waves-effect"><a href="{{ request.path }}?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% else %}
            <li class="waves-effect"><a href="{{ request.path }}?page={{ num|add:"5" }}">...</a></li>
        {% endif %}
    {% empty %}
        <li class="active">1</li>
    {% endfor %}

    <li class="waves-effect {% if not page_obj.has_next %}disabled{% endif %}">
        {% if page_obj.has_next %}
            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}" aria-label="{% trans "Next" %}">
        {% endif %}
            <i aria-hidden="true" class="material-icons">{% if request.LANGUAGE_CODE == 'ar' %}chevron_left{% else %}chevron_right{% endif %}</i>
        {% if page_obj.has_next %}
            </a>
        {% endif %}
    </li>
</ul>
