.Actions {
	display: flex;
	height: 80px;
	justify-content: space-between;
	padding: 20px;

	.SearchBar {
		width: 280px;
	}

	.filter {
		background-color: transparent;
		border: 1px solid transparent;
		padding: 5px;

		&:hover {
			border: 1px solid #333;
			img {
				filter: sepia(100%) hue-rotate(190deg) saturate(500%);
			}
		}
	}

}
