{% load aldryn_forms_tags i18n %}

{% if field %}
  <div class="file-field input-field col s12">
    {% block form_field %}
      <div class="btn waves-effect waves-light">
        <span>{% trans "Upload" %}</span>
        <input type="file">
      </div>

      {% block form_field_label %}
        <div class="file-path-wrapper">
          <input type="text" class="file-path validate" placeholder="{{ field.label }}">
        </div>
      {% endblock form_field_label %}
    {% endblock form_field %}

    {% block form_field_errors %}
      {% if field.errors %}
        {% for error in field.errors %}
          <span class="red darken-2 white-text">{{ error }}</span>
        {% endfor %}
      {% endif %}
    {% endblock form_field_errors %}

    {% block form_field_help_text %}
      {% if field.help_text %}
        <p class="help-block">{{ field.help_text }}</p>
      {% endif %}
    {% endblock form_field_help_text %}
  </div>
{% endif %}
