<section class="content-header">
    <h1>Content Dashboard</h1>
    <input date-range-picker class="form-control date-picker" type="text" ng-model="ctrl.datePicker"
                   min="ctrl.datePickerBoundries.min" max="ctrl.datePickerBoundries.max"
                   options="ctrl.datePicker.options"/>
</section>
<section class="content">

    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ ctrl.analytics.published_count }}</h3>
                    <p>Published Content</p>
                </div>
                <div class="icon">
                    <i class="ion ion-document-text"></i>
                </div>
                <a ui-sref="countryChoice({environment: 'staging'})" class="small-box-footer">Go to CMS <i
                        class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{ ctrl.analytics.outdated_count }}</h3>
                    <p>Outdated Published Content</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-clock-outline"></i>
                </div>
                <a ng-show="!ctrl.isOutdatedContentShown()" ui-sref="analytics.content.outdated"
                   class="small-box-footer">
                    Show List <i class="fa fa-eye"></i></a>
                <a ng-show="ctrl.isOutdatedContentShown()" ui-sref="analytics.content" class="small-box-footer">
                    Hide List <i class="fa fa-eye-slash"></i></a>
            </div>
        </div>
    </div>

    <div ui-view="outdated" class="animated"></div>


    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Last Updated Content</h3>
                </div>
                <div class="box-body no-padding table-responsive">
                    <table id="updated-content" datatable="" dt-options="ctrl.dtOptions" dt-columns="ctrl.dtColumns"
                           dt-instance="ctrl.dtInstance" class="table table-bordered table-striped">
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-xs-12">
            <div class="box box-primary collapsed-box">
            <div class="box-header">
                    <h3 class="box-title">Distribution of Content</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                            class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
                <div class="box-body">
                    <canvas class="chart chart-pie" chart-options="ctrl.chartOptions"
                            chart-data="ctrl.chartData" chart-labels="ctrl.chartLabels">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-xs-12">
            <div class="box box-primary collapsed-box">
                <div class="box-header">
                    <h3 class="box-title">Published Content in Regions</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Region</th>
                            <th>Overall content count</th>
                            <th>Subregions</th>
                            <th>Average content count in Subregion</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="region in ctrl.analytics.regions">
                            <td>{{ region.name }}</td>
                            <td>{{ region.content_count }}</td>
                            <td>{{ region.subregions }}</td>
                            <td>{{ region.avg_content_count | number: 1 }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
