<section class="content-header">
    <h1 style="margin-bottom: 22px">Hotspots Analytics Dashboard</h1>
    <div class="row">
        <div class="hotspot-right-panel col-md-offset-6 col-md-6 col-sm-12">
            <span class="analytics-select pull-right col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                <ui-select ng-model="ctrl.networks.selected" title="Choose a network"
                        on-select="ctrl.getData(ctrl.datePicker.startDate, ctrl.datePicker.endDate, $select.selected.network_id)">
                    <ui-select-match placeholder="Select the network">
                        {$ $select.selected.name $}
                    </ui-select-match>
                    <ui-select-choices repeat="network in ctrl.networks | filter: { name: $select.search }">
                        <div ng-bind-html="network.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </span>
            <span class="analytics-select pull-right col-md-6 col-sm-6 col-xs-6" style="padding-left: 0">
                <input date-range-picker class="form-control date-picker" type="text" ng-model="ctrl.datePicker"
                       min="ctrl.datePickerBoundries.min" max="ctrl.datePickerBoundries.max"
                       options="ctrl.datePicker.options"/>
            </span>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Networks</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <leaflet id="networksMap" markers="ctrl.markers" layers="layers" event-broadcast="events" class="hotspots-analytics-element"></leaflet>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-sm-6">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Clients</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body hotspots-analytics-box">
                    <canvas ng-if="ctrl.data[0].length && ctrl.data[1].length" id="clients" class="chart chart-bar hotspots-analytics-element"
                        chart-data="ctrl.data" chart-labels="ctrl.dateLabels" chart-options="ctrl.options"
                        chart-dataset-override="ctrl.datasetOverride" chart-colors="ctrl.colors">
                    </canvas>
                    <b ng-if="!ctrl.data[0].length && !ctrl.data[1].length" >No data available in selected period</b>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Devices</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding table-responsive"
                     us-spinner="{radius:30, width:14, length: 0, opacity: 0, color: 'rgba(0, 0, 0, 0.4)'}"
                     spinner-key="spinner-devices" style="position: relative">

                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs" id="tabs" data-tabs="tabs">
                            <li ng-class="{'active': ctrl.activeTab == 'map'}"><a href="" ng-click="ctrl.activateMapTab()" data-toggle="tab">Topology</a></li>
                            <li ng-class="{'active': ctrl.activeTab == 'table'}"><a href=""  ng-click="ctrl.activeTab='table'" data-toggle="tab">Information</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane devices-map-tab" ng-class="{'active': ctrl.activeTab == 'map'}">
                                <div ng-if="ctrl.activeTab == 'map'" class="devices-map-container">
                                    <leaflet id="devicesMap" markers="ctrl.markersDevices" layers="layersDevices" event-broadcast="eventsDevices" class="hotspots-analytics-element"></leaflet>
                                </div>
                            </div>
                            <div class="tab-pane" ng-class="{'active': ctrl.activeTab == 'table'}">
                                <div class="row">
                                    <table datatable="ng" class="table table-bordered table-striped table-responsive" id="devicesInfo">
                                        <thead>
                                            <tr>
                                                <th>Device Name</th>
                                                <th>Model</th>
                                                <th>Interface</th>
                                                <th>Status</th>
                                                <th>IP</th>
                                                <th>Gateway</th>
                                                <th>Public Ip</th>
                                                <th>DNS</th>
                                                <th>Using Static IP</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in ctrl.devices_info">
                                                <td>{$ item.name $}</td>
                                                <td>{$ item.model $}</td>
                                                <td>{$ item.interface $}</td>
                                                <td>{$ item.status $}</td>
                                                <td>{$ item.ip $}</td>
                                                <td>{$ item.gateway $}</td>
                                                <td>{$ item.publicIp $}</td>
                                                <td>{$ item.dns $}</td>
                                                <td>{$ item.usingStaticIp $}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="box box-warning">
                <div class="box-header">
                    <h3 class="box-title">Flows by Destination</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table datatable="ng" class="row-border hover">
                        <thead>
                            <tr>
                                <th>Destination</th>
                                <th>Flows</th>
                                <th>Flows %</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ctrl.destination">
                                <td>{$ item.destination $}</td>
                                <td>{$ item.flows $}</td>
                                <td>{$ item.flows_p $}%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="box box-warning">
                <div class="box-header">
                    <h3 class="box-title">Clients by Destination</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table datatable="ng" class="row-border hover">
                        <thead>
                            <tr>
                                <th>Destination</th>
                                <th>Clients</th>
                                <th>Clients %</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ctrl.destination">
                                <td>{$ item.destination $}</td>
                                <td>{$ item.clients $}</td>
                                <td>{$ item.clients_p $}%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Usage</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body hotspots-analytics-box">
                    <canvas ng-if="ctrl.dataUsage[0].length && ctrl.dataUsage[1].length" id="usage" class="chart chart-bar hotspots-analytics-element"
                        chart-data="ctrl.dataUsage" chart-labels="ctrl.dateLabels" chart-options="ctrl.options"
                        chart-dataset-override="ctrl.usageDatasetOverride" chart-colors="ctrl.colors">
                    </canvas>
                    <b ng-if="!ctrl.dataUsage[0].length && !ctrl.dataUsage[1].length" >No data available in selected period</b>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="box box-warning">
                <div class="box-header">
                    <h3 class="box-title">Application by Usage</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table datatable="ng" class="row-border hover">
                        <thead>
                            <tr>
                                <th>Application</th>
                                <th>Usage</th>
                                <th>Usage %</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ctrl.usages">
                                <td>{$ item.app $}</td>
                                <td>{$ item.usage $}KB</td>
                                <td>{$ item.usage_p $}%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>