<section class="content-header">
    <h1 style="margin-bottom: 22px">Social Media Analytics</h1>

    <input date-range-picker class="form-control date-picker" type="text" ng-model="ctrl.datePicker"
           min="ctrl.datePickerBoundries.min" max="ctrl.datePickerBoundries.max"
           options="ctrl.datePicker.options"/>
</section>
<section class="content">

    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-blue">
                <div class="inner">
                    <h3>{{ ctrl.totalNewFans || 'No data' }}</h3>
                    <p>Total new page likes in period</p>
                </div>
                <div class="icon">
                    <i class="fa fa-thumbs-o-up"></i>
                </div>
                <a href="https://www.facebook.com/refugee.info/?fref=ts" class="small-box-footer">Go to FB page <i
                        class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ ctrl.totalViews || 'No data' }}</h3>
                    <p>Total page views in period</p>
                </div>
                <div class="icon">
                    <i class="fa fa-eye"></i>
                </div>
                <div class="small-box-footer"><span>Refugee.info</span></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-xs-12">
            <div class="box box-primary collapsed-box">
            <div class="box-header">
                    <h3 class="box-title">Conversations</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                            class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
                <div class="box-body">
                    <canvas class="chart chart-pie" chart-options="ctrl.chartOptions"
                            chart-data="ctrl.chartData" chart-labels="ctrl.chartLabels">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="box box-primary collapsed-box">
            <div class="box-header">
                    <h3 class="box-title">Total Page Likes </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                            class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
                <div class="box-body">
                    <canvas class="chart chart-pie" chart-options="ctrl.chartOptions"
                            chart-data="ctrl.chartLikesData" chart-labels="ctrl.chartLikesLabels">
                    </canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="box box-success collapsed-box">
                <div class="box-header">
                    <h3 class="box-title">Total Page Fans by Country</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding table-responsive">
                    <canvas class="chart chart-line" chart-data="ctrl.totalFansByCountryChart.data" chart-series="ctrl.totalFansByCountryChart.series"
                            chart-labels="ctrl.totalFansByCountryChart.labels" chart-options="ctrl.totalFansByCountryChart.options"
                            chart-dataset-override="ctrl.totalFansByCountryChart.datasetOverride">
                    </canvas>
                    <table class="table table-bordered table-striped table-responsive" id="countryTable">
                        <thead>
                            <tr>
                                <th ng-repeat="header in ctrl.totalFansByCountryTableHeadersData">{{ header }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="country in ctrl.totalFansByCountryTableData | startFrom: ctrl.currentPage * ctrl.pageSize | limitTo: ctrl.pageSize">
                                <td ng-repeat="(key, value) in country">{{ value }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="float: right; margin: 3px">
                        <button ng-disabled="ctrl.currentPage == 0" ng-click="ctrl.currentPage = ctrl.currentPage - 1" class="btn">
                            Previous
                        </button>
                        <span style="margin-left: 5px; margin-right: 5px;">{{ ctrl.currentPage + 1 }} / {{ ctrl.numberOfPages(ctrl.totalFansByCountryTableData) }}</span>
                        <button ng-disabled="ctrl.currentPage >= ctrl.totalFansByCountryTableData.length / ctrl.pageSize - 1" ng-click="ctrl.currentPage = ctrl.currentPage + 1" class="btn">
                            Next
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="box box-success collapsed-box">
                <div class="box-header">
                    <h3 class="box-title">Total Page Fans by Language</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding table-responsive">
                    <canvas class="chart chart-line" chart-data="ctrl.totalFansByLanguageChart.data" chart-series="ctrl.totalFansByLanguageChart.series"
                            chart-labels="ctrl.totalFansByLanguageChart.labels" chart-options="ctrl.totalFansByLanguageChart.options"
                            chart-dataset-override="ctrl.totalFansByLanguageChart.datasetOverride">
                    </canvas>
                    <table class="table table-bordered table-striped table-responsive" id="languageTable">
                        <thead>
                            <tr>
                                <th ng-repeat="header in ctrl.totalFansByLanguageTableHeadersData">{{ header }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="language in ctrl.totalFansByLanguageTableData | startFrom: ctrl.currentPageLang * ctrl.pageSizeLang | limitTo: ctrl.pageSizeLang">
                                <td ng-repeat="(key, value) in language">{{ value }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="float: right; margin: 3px">
                        <button ng-disabled="ctrl.currentPageLang == 0" ng-click="ctrl.currentPageLang = ctrl.currentPageLang - 1" class="btn">
                            Previous
                        </button>
                        <span style="margin-left: 5px; margin-right: 5px;">{{ ctrl.currentPageLang + 1 }} / {{ ctrl.numberOfPages(ctrl.totalFansByLanguageTableData) }}</span>
                        <button ng-disabled="ctrl.currentPageLang >= ctrl.totalFansByCountryTableData.length / ctrl.pageSize - 1" ng-click="ctrl.currentPageLang = ctrl.currentPageLang + 1" class="btn">
                            Next
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Total Page Likes by Age (Females)</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <canvas class="chart chart-line" chart-data="ctrl.femaleByAgeChart.data" chart-series="ctrl.femaleByAgeChart.series"
                            chart-labels="ctrl.femaleByAgeChart.labels" chart-options="ctrl.femaleByAgeChart.options"
                            chart-dataset-override="ctrl.femaleByAgeChart.datasetOverride">
                    </canvas>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Total Page Likes by Age (Males)</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <canvas class="chart chart-line" chart-data="ctrl.maleByAgeChart.data" chart-series="ctrl.maleByAgeChart.series"
                            chart-labels="ctrl.maleByAgeChart.labels" chart-options="ctrl.maleByAgeChart.options"
                            chart-dataset-override="ctrl.maleByAgeChart.datasetOverride">
                    </canvas>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Daily Fans Adds/Removes</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <canvas class="chart chart-line" chart-data="ctrl.totalAddsRemovesChart.data" chart-series="ctrl.totalAddsRemovesChart.series"
                            chart-labels="ctrl.totalAddsRemovesChart.labels" chart-options="ctrl.totalAddsRemovesChart.options"
                            chart-dataset-override="ctrl.totalAddsRemovesChart.datasetOverride">
                    </canvas>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Page and Video views</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <canvas class="chart chart-line" chart-data="ctrl.totalViewsChart.data" chart-series="ctrl.totalViewsChart.series"
                            chart-labels="ctrl.totalViewsChart.labels" chart-options="ctrl.totalViewsChart.options"
                            chart-dataset-override="ctrl.totalViewsChart.datasetOverride">
                    </canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Number of Engaged Users</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <canvas class="chart chart-line" chart-data="ctrl.userEngagementChart.data" chart-series="ctrl.userEngagementChart.series"
                            chart-labels="ctrl.userEngagementChart.labels" chart-options="ctrl.userEngagementChart.options"
                            chart-dataset-override="ctrl.userEngagementChart.datasetOverride">
                    </canvas>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Number of Page Consumption by Type</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <canvas class="chart chart-line" chart-data="ctrl.totalConsumptionsByTypeChart.data" chart-series="ctrl.totalConsumptionsByTypeChart.series"
                            chart-labels="ctrl.totalConsumptionsByTypeChart.labels" chart-options="ctrl.totalConsumptionsByTypeChart.options"
                            chart-dataset-override="ctrl.totalConsumptionsByTypeChart.datasetOverride">
                    </canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Total Positive Feedback</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <canvas class="chart chart-line" chart-data="ctrl.totalPositiveFeedbackChart.data" chart-series="ctrl.totalPositiveFeedbackChart.series"
                            chart-labels="ctrl.totalPositiveFeedbackChart.labels" chart-options="ctrl.totalPositiveFeedbackChart.options"
                            chart-dataset-override="ctrl.totalPositiveFeedbackChart.datasetOverride">
                    </canvas>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Total Negative Feedback</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <canvas class="chart chart-line" chart-data="ctrl.totalNegativeFeedbackChart.data" chart-series="ctrl.totalNegativeFeedbackChart.series"
                            chart-labels="ctrl.totalNegativeFeedbackChart.labels" chart-options="ctrl.totalNegativeFeedbackChart.options"
                            chart-dataset-override="ctrl.totalNegativeFeedbackChart.datasetOverride">
                    </canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="box box-warning">
                <div class="box-header">
                    <h3 class="box-title">Posts statistics</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>

                <div class="box-body no-padding table-responsive">
                    <table id="post-stats" datatable="ng" dt-options="ctrl.dtOptions" dt-columns-defs="ctrl.dtColumns"
                           class="table table-bordered table-striped table-responsive">
                        <thead>
                            <tr>
                                <th>Post ID</th>
                                <th>Updated at</th>
                                <th>Post</th>
                                <th>LIKES count</th>
                                <th>SAD count</th>
                                <th>WOW count</th>
                                <th>SUPER count</th>
                                <th>ANGRY count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="post in ctrl.postStats">
                                <td>{{ post.object_id }}</td>
                                <td>{{ post.updated | formatDate }}</td>
                                <td>
                                    <md-toolbar style="background-color: transparent; color: black; min-height: 0; font-size: 14px">
                                        <md-tooltip md-direction="bottom" style="font-size: 16px">
                                            <p class='md-content'>{{ post.message ? post.message : 'There was no post message downloaded' }}</p>
                                        </md-tooltip>
                                        <span>{{ post.message.substring(0, 50) }} {{ post.message ? '(...)' : 'no post message found' }}</span>
                                    </md-toolbar>
                                </td>
                                <td>{{ post.like_count }}</td>
                                <td>{{ post.sad_count }}</td>
                                <td>{{ post.wow_count }}</td>
                                <td>{{ post.super_count }}</td>
                                <td>{{ post.angry_count }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="box box-warning">
                <div class="box-header">
                    <h3 class="box-title">Ads statistics</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>

                <div class="box-body no-padding table-responsive">
                    <table id="ads-stats" datatable="ng" dt-options="ctrl.dtOptionsAds" dt-columns-def="ctrl.dtColumnsAds"
                           class="table table-bordered table-striped table-responsive">
                        <thead>
                            <tr>
                                <th>Post ID</th>
                                <th>Post updated at</th>
                                <th>Stats updated at</th>
                                <th>Post</th>
                                <th ng-repeat="(key, value) in ctrl.columnDescription">
                                    <md-toolbar style="background-color: transparent; color: black; min-height: 0; font-size: 14px">
                                        <md-tooltip md-direction="bottom" style="font-size: 16px">
                                            {{ key + ' - ' + value }}
                                        </md-tooltip>
                                        <span>{{ key }}</span>
                                    </md-toolbar>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ad in ctrl.adsStats">
                                <td>{{ ad.post_object.object_id }}</td>
                                <td>{{ ad.post_object.updated | formatDate }}</td>
                                <td>{{ ad.date | formatDate }}</td>
                                <td>
                                    <md-toolbar style="background-color: transparent; color: black; min-height: 0; font-size: 14px">
                                        <md-tooltip md-direction="bottom" style="font-size: 16px">
                                            <p class='md-content'>{{ ad.post_object.message ? ad.post_object.message : 'There was no post message downloaded' }}</p>
                                        </md-tooltip>
                                        <span>{{ ad.post_object.message.substring(0, 50) }} {{ ad.post_object.message ? '(...)' : 'no post message found' }}</span>
                                    </md-toolbar>
                                </td>
                                <td>{{ ad.spend }}</td>
                                <td>{{ ad.reach }}</td>
                                <td>{{ ad.clicks }}</td>
                                <td>{{ ad.impressions }}</td>
                                <td>{{ ad.cost_per_total_action }}</td>
                                <td>{{ ad.cpc }}</td>
                                <td>{{ ad.cpm }}</td>
                                <td>{{ ad.cpp }}</td>
                                <td>{{ ad.ctr }}</td>
                                <td>{{ ad.estimated_ad_recall_rate }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>