<section class="content-header">
    <h1>Analytics Dashboard</h1>
</section>

<section class="content">
    <div ng-if="$root.permissions.analyticsServices && !ctrl.HIDE_NOT_YET_IMPLEMENTED" class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-body">
                    <div class="analytics-panel" ui-sref="analytics.services" ui-sref-active="active">
                        <h3>Services Analytics</h3>
                    </div>
                    <div ui-view="services" class="animated"></div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="$root.permissions.analyticsContent" class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-body">
                    <div class="analytics-panel" ui-sref="analytics.content" ui-sref-active="active">
                        <h3>Content Analytics</h3>
                    </div>
                </div>
            </div>
            <div ui-view="content" class="animated"></div>
        </div>
    </div>

    <div ng-if="$root.permissions.analyticsVisitors && !ctrl.HIDE_NOT_YET_IMPLEMENTED" class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-body">
                    <div class="analytics-panel" ui-sref="analytics.visitors" ui-sref-active="active">
                        <h3>Visitors Analytics</h3>
                    </div>
                    <div ui-view="visitors" class="animated"></div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="$root.permissions.analyticsMobile && !ctrl.HIDE_NOT_YET_IMPLEMENTED" class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-body">
                    <div class="analytics-panel" ui-sref="analytics.mobile" ui-sref-active="active">
                        <h3>Mobile App Analytics</h3>
                    </div>
                    <div ui-view="mobile" class="animated"></div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="$root.permissions.analyticsSocial && !ctrl.HIDE_NOT_YET_IMPLEMENTED" class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-body">
                    <div class="analytics-panel" ui-sref="analytics.social" ui-sref-active="active">
                        <h3>Social Media Analytics</h3>
                    </div>
                    <div ui-view="social" class="animated"></div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="$root.permissions.analyticsHotspots && !ctrl.HIDE_NOT_YET_IMPLEMENTED" class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-body">
                    <div class="analytics-panel" ui-sref="analytics.hotspots" ui-sref-active="active">
                        <h3>Hotspots Analytics</h3>
                    </div>
                    <div ui-view="hotspots" class="animated"></div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="$root.permissions.analyticsBalance && !ctrl.HIDE_NOT_YET_IMPLEMENTED" class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-body">
                    <div class="analytics-panel" ui-sref="analytics.balance" ui-sref-active="active">
                        <h3>Balance Checker Analytics</h3>
                    </div>
                    <div ui-view="balance" class="animated"></div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="$root.permissions.analyticsSearch && !ctrl.HIDE_NOT_YET_IMPLEMENTED" class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-body">
                    <div class="analytics-panel" ui-sref="analytics.search" ui-sref-active="active">
                        <h3>GAS Search Tool Analytics</h3>
                    </div>
                    <div ui-view="search" class="animated"></div>
                </div>
            </div>
        </div>
    </div>
</section>