<section class="content-header" ng-controller="ContentHeaderController as chctrl">
    <h1>
        {{ chctrl.state.data.title }}
        <small>{{ ctrl.provider.name_en}}</small>
        <button type="button" class="btn btn-warning pull-right" ng-click="ctrl.goBack()">Back</button>
    </h1>
</section>
<form role="form" name='ctrl.form'>
    <section class="content">
        <div>
            <div class="row" read-only-form is-editing="ctrl.isEditing">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Translated Fields</h3>
                        </div>
                        <div class="box-body">
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li ng-class="{active: ctrl.selectedLanguageTab == (lang[0]||'en')}"
                                        ng-repeat="lang in languages">
                                        <a href=""
                                           ng-click="ctrl.selectedLanguageTab = lang[0]"
                                           data-toggle="tab"
                                           aria-expanded="true">{{
                                            lang[1] }}</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane"
                                         ng-class="{active: ctrl.selectedLanguageTab == (lang[0]||'en')}"
                                         ng-repeat="lang in languages">
                                        <div class="row">
                                            <div class="form-group col-xs-12">
                                                <label for="{{ idHelper('name',lang[0]) }}">Name</label>
                                                <input type="text" class="form-control"
                                                       ng-model="ctrl.provider[idHelper('name',lang[0])]"
                                                       placeholder="Name in {{ lang[1] }}" ng-maxlength="256"
                                                       ng-required="lang[0] == 'en'">
                                            </div>
                                            <div class="form-group col-xs-6">
                                                <label for="{{ idHelper('description',lang[0]) }}">Description</label>
                                            <textarea name="{{  idHelper('description',lang[0])}}" class="form-control"
                                                      ng-model="ctrl.provider[idHelper('description',lang[0])]"></textarea>
                                            </div>
                                            <div class="form-group col-xs-6">
                                                <label for="{{ idHelper('address',lang[0]) }}">Address</label>
                                            <textarea name="{{  idHelper('address',lang[0])}}" class="form-control"
                                                      ng-model="ctrl.provider[idHelper('address',lang[0])]"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- /.tab-content -->
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="row" read-only-form is-editing="ctrl.isEditing">
                <div class="col-xs-12">
                    <div class="box box-default">
                        <div class="box-body">
                            <div class="form-group col-xs-6" ng-if="user.isStaff">
                                <label for="type">Type</label>
                                <select class="form-control" name="type" ng-model="ctrl.provider.type"
                                        ng-options="type.id as type.name for type in ctrl.providerTypes" required></select>

                            </div>
                            <div class="form-group col-xs-6" ng-if="user.isStaff">
                                <label for="user">Administrator</label>
                                <select class="form-control" name="user" ng-model="ctrl.provider.user"
                                        ng-options="user.id as user.email for user in ctrl.allUsers"></select>

                            </div>
                            <div class="form-group col-xs-6">
                                <label for="phoneNumber">Phone Number</label>
                                <input type="text" class="form-control" id="phoneNumber"
                                       placeholder="Phone Number" ng-model="ctrl.provider.phone_number"
                                       ng-pattern="/(^[\d+](?!.*--)[\d-]{7,18}[\d])$/">
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="website">Website</label>
                                <input type="text" class="form-control" id="website"
                                       placeholder="Website" ng-model="ctrl.provider.website"
                                       ng-maxlength="255">
                            </div>
                            <div class="form-group col-xs-6" ng-if="user.isStaff">
                                <label for="region">Region</label>
                                <select class="form-control" name="region" ng-model="ctrl.provider.region" ng-options="region.id as region.name for region in ctrl.regions"
                                    ></select>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
            <div class="row" ng-if="!ctrl.isNew">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Services</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table datatable="" dt-options="ctrl.stOptions" dt-columns="ctrl.stColumns"
                                   class="table table-bordered table-striped">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <input type="file" id="file" class="hide" trigger-on-change="" change-function="ctrl.uploadFile()"/>
                        <div class="box-footer">
                            <div class="btn-group" ng-if="user.isSuperuser">
                                <button type="button" class="btn btn-default"
                                        ng-click="ctrl.impersonate();">Impersonate
                                </button>
                                <button type="button" class="btn btn-default"
                                        ng-click="ctrl.exportServices();">Export Services
                                </button>
                                <button type="button" class="btn btn-default"
                                        ng-click="ctrl.importServices();">Import Services
                                </button>
                            </div>
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-primary"
                                        ng-if="!ctrl.isEditing && user.isSuperuser"
                                        ng-click="ctrl.startEditing()">Edit
                                </button>
                                <button type="button" class="btn btn-primary button-tooltip" ng-if="ctrl.isEditing && user.isSuperuser"
                                        ng-click="ctrl.save()" ng-disabled="ctrl.form.$invalid" data-old-tooltip="Fill in all required fields">
                                    Save
                                </button>
                                <button type="button" class="btn btn-warning"
                                        ng-if="ctrl.isEditing && user.isSuperuser && !ctrl.isNew"
                                        ng-click="ctrl.cancelEditing()">Cancel
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</form>
