<section class="content-header" ng-controller="ContentHeaderController as chctrl">
    <h1>
        {{ chctrl.state.data.title | translate }}
        <small>{{ ctrl.provider.name_en}}</small>
        <button type="button" class="btn btn-warning pull-right" ng-click="ctrl.goBack()">{{ 'BACK' | translate }}</button>
    </h1>
</section>
<form role="form" name='ctrl.form'>
    <section class="content">
        <div>
            <div class="row" read-only-form is-editing="ctrl.isEditing">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">{{ 'TRANSLATED_FIELD' | translate}}</h3>
                        </div>
                        <div class="box-body">
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li ng-class="{active: ctrl.selectedLanguageTab == (lang[0]||'en')}" ng-repeat="lang in languages">
                                        <a href="" ng-click="ctrl.selectedLanguageTab = lang[0]" data-toggle="tab" aria-expanded="true">{{ lang[1] }}</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane" ng-class="{active: ctrl.selectedLanguageTab == (lang[0]||'en')}" ng-repeat="lang in languages">
                                        <div class="row">
                                            <div class="form-group col-xs-12">
                                                <label for="{{ idHelper('name',lang[0]) }}">{{ 'PROVIDER_NAME' | translate }}</label>
                                                <input type="text" class="form-control" ng-model="ctrl.provider[idHelper('name',lang[0])]" placeholder="Name in {{ lang[1] }}"
                                                    ng-maxlength="256" ng-required="lang[0] == 'en'">
                                            </div>
                                            <div class="form-group col-xs-6">
                                                <label for="{{ idHelper('description',lang[0]) }}">{{ 'PROVIDER_DESCRIPTION' | translate }}</label>
                                                <textarea name="{{  idHelper('description',lang[0])}}" class="form-control" ng-model="ctrl.provider[idHelper('description',lang[0])]"></textarea>
                                            </div>
                                            <div class="form-group col-xs-6">
                                                <label for="{{ idHelper('address',lang[0]) }}">{{ 'PROVIDER_ADDRESS' | translate }}</label>
                                                <textarea name="{{  idHelper('address',lang[0])}}" class="form-control" ng-model="ctrl.provider[idHelper('address',lang[0])]"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- /.tab-content -->
                            </div>


                            <div class="form-group col-xs-12" ng-if="user.isSuperuser">
                                <label for="region">{{ 'PROVIDER_COUNTRY' | translate }}</label>
                                <select class="form-control" name="region" ng-model="ctrl.provider.region" ng-options="region.id as region.name for region in ctrl.regions" required></select>
                            </div>
                        </div>

                    </div>

                </div>
            </div> 
            <div class="row" read-only-form is-editing="ctrl.isEditing">
                <div class="col-xs-12">
                    <div class="box box-default">
                        <div class="box-body">
                            <div class="form-group col-xs-12" ng-if="user.isStaff">
                            <div class="form-group col-xs-6">
                                <label for="contactName">{{ 'PROVIDER_CONTACT_NAME' | translate }}</label>
                                <input type="text" class="form-control" id="contactName" placeholder="{{ 'PROVIDER_CONTACT_NAME' | translate }}" ng-model="ctrl.provider.contact_name"
                                    ng-maxlength="255">
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="title">{{ 'PROVIDER_TITLE' | translate }}</label>
                                <input type="text" class="form-control" id="title" placeholder="{{ 'PROVIDER_TITLE' | translate }}" ng-model="ctrl.provider.title"
                                    ng-maxlength="255">
                            </div>
                            <div class="form-group col-xs-12">
                                <label for="type">{{ 'PROVIDER_TYPE' | translate }}</label>
                                <select class="form-control" name="type" ng-model="ctrl.provider.type" ng-options="type.id as type.name for type in ctrl.providerTypes"
                                    required>
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="phoneNumber">{{ 'PROVIDER_PHONE_NUMBER' | translate }}</label>
                                <input type="text" class="form-control" id="phoneNumber" placeholder="{{ 'PROVIDER_PHONE_NUMBER' | translate }}" ng-model="ctrl.provider.phone_number"
                                    ng-pattern="/(^[\d+](?!.*--)[\d-]{7,18}[\d])$/">
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="website">{{ 'PROVIDER_WEBSITE' | translate }}</label>
                                <input type="text" class="form-control" id="website" placeholder="{{ 'PROVIDER_WEBSITE' | translate }}" ng-model="ctrl.provider.website"
                                    ng-maxlength="255">
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="facebook">{{ 'PROVIDER_FACEBOOK' | translate }}</label>
                                <input type="text" class="form-control" id="facebook" placeholder="Facebook" ng-model="ctrl.provider.facebook" ng-maxlength="255">
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="twitter">{{ 'PROVIDER_TWITTER' | translate }}</label>
                                <input type="text" class="form-control" id="twitter" placeholder="Twitter" ng-model="ctrl.provider.twitter" ng-maxlength="255">
                            </div>    
                            <div class="form-group col-xs-6">
                                <label for="type">{{ 'PROVIDER_SERVICE_TYPES' | translate }}</label>
                                <ui-select ng-disabled="!ctrl.isEditing" multiple ng-model="ctrl.service.types" sortable="true" close-on-select="true"  limit="4">
                                    <ui-select-match placeholder="{{ 'PROVIDER_SELECT_TYPES' | translate }}">{{ $item.name }}</ui-select-match>
                                    <ui-select-choices repeat="type in ctrl.serviceTypes | filter: { name: $select.search }">
                                        <div ng-bind-html="type.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>   
                            <div class="form-group col-xs-6">
                                <label for="meta_population">{{ 'PROVIDER_META_POPULATION' | translate }}</label>
                                <input type="text" class="form-control" id="meta_population" ng-model="ctrl.provider.meta_population" />
                            </div>                        
                            <div class="form-group col-xs-6">
                                <label for="record">{{ 'PROVIDER_RECORD' | translate }}</label>
                                <input type="text" class="form-control" id="record" ng-model="ctrl.provider.record" />
                            </div>                                                     
                            <div class="form-group col-xs-6">
                                <label for="requirement">{{ 'PROVIDER_REQUIREMENT' | translate }}</label>
                                <input type="text" class="form-control" id="requirement" ng-model="ctrl.provider.requirement" />
                            </div>                            
                            <div class="form-group col-xs-12">
                                <label for="additional_info">{{ 'PROVIDER_ADDITIONAL_INFO' | translate }}</label>
                                <textarea type="text" class="form-control" id="additional_info" ng-model="ctrl.provider.additional_info" ></textarea>
                            </div>     
                            <div class="form-group col-xs-6" ng-if="user.isSuperuser">
                                <label for="vacancy">{{ 'PROVIDER_VACANCY' | translate }}
                                    <input type="checkbox" id="vacancy" style="height:20px; width:20px" ng-model="ctrl.provider.vacancy"/>
                                </label>
                            </div>
                            <div class="form-group col-xs-6" ng-if="user.isSuperuser">
                                <label for="is_frozen">{{ 'PROVIDER_FREEZE' | translate }}
                                    <input type="checkbox" id="is_frozen" ng-model="ctrl.provider.is_frozen"/>
                                </label>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
            <div class="row" ng-if="!ctrl.isNew">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">{{ 'PROVIDER_SERVICES' | translate }}</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table datatable="" dt-options="ctrl.stOptions" dt-columns="ctrl.stColumns" class="table table-bordered table-striped">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <input type="file" id="file" class="hide" trigger-on-change="" change-function="ctrl.uploadFile()" />

            <footer-action-bar>
                <div style="width: 100%">
                    <div class="btn-group" ng-if="user.isSuperuser">
                        <button type="button" class="btn btn-default" ng-click="ctrl.impersonate();">{{ 'PROVIDER_IMPERSONATE' | translate }}
                        </button>
                        <button type="button" class="btn btn-default" ng-click="ctrl.exportServices();">{{ 'PROVIDER_EXPORT_SERVICES' | translate }}
                        </button>
                        <button type="button" class="btn btn-default" ng-click="ctrl.importServices();">{{ 'PROVIDER_IMPORT_SERVICES' | translate }}
                        </button>
                    </div>
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-primary" ng-if="!ctrl.isEditing && ctrl.canEdit" ng-click="ctrl.startEditing()">{{ 'PROVIDER_EDIT' | translate }}
                        </button>
                        <button type="button" class="btn btn-primary button-tooltip" ng-if="ctrl.isEditing && ctrl.canEdit" ng-click="ctrl.save()"
                            ng-disabled="ctrl.form.$invalid" data-old-tooltip="Fill in all required fields">
                            {{ 'PROVIDER_SAVE' | translate }}
                        </button>
                        <button type="button" class="btn btn-warning" ng-if="ctrl.isEditing && ctrl.canEdit && !ctrl.isNew" ng-click="ctrl.cancelEditing()">{{ 'PROVIDER_CANCEL' | translate }}
                        </button>
                    </div>
                </div>
            </footer-action-bar>
    </section>
</form>