<section class="content-header" ng-controller="ContentHeaderController as chctrl">
    <h1>
        {{ chctrl.state.data.title }}
        <small>{{ ctrl.region.name}}</small>
    </h1>
</section>
<form role="form" name="regionForm">
    <section class="content">
        <div>
            <div class="row" read-only-form is-editing="ctrl.isEditing">
                <div class="col-xs-12">
                    <div class="box box-default">
                        <div class="box-body">

                            <div class="form-group col-xs-6">
                                <label for="name">{{ 'REGION_NAME' | translate }}</label>
                                <input type="text" class="form-control" id="name" placeholder="Name" ng-model="ctrl.object.name" required>
                            </div>

                            <div class="form-group col-xs-6">
                                <label for="slug">{{ 'REGION_SLUG' | translate }}</label>
                                <input type="text" class="form-control" id="slug" placeholder="Slug" ng-model="ctrl.object.slug" required>
                            </div>
                            <div class="form-group col-xs-6" ng-if="ctrl.object.level > 1">
                                <label for="parent">{{ 'REGION_PARENT' | translate }}</label>
                                <select class="form-control" name="parent" ng-model="ctrl.object.parent" ng-options="r.id as r.name for r in ctrl.allRegions"></select>

                            </div>

                            <div class="form-group col-xs-6">
                                <label for="level">{{ 'REGION_LEVEL' | translate }}</label>
                                <select class="form-control" name="level" ng-model="ctrl.object.level" ng-options="r.id as r.name for r in ctrl.levels" required></select>

                            </div>
                            <div class="form-group col-xs-6">
                                <label for="code">{{ 'REGION_CODE' | translate }}</label>
                                <input type="text" class="form-control" id="code" placeholder="Code" ng-model="ctrl.object.code">
                            </div>
                            <div class="form-group col-xs-6" ng-if="user.isSuperuser">
                                <label for="user">{{ 'SITE' | translate }}</label>
                                <div class="input-group" ng-if="ctrl.object.site">
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger" type="button" ng-click="ctrl.object.site = null">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </span>
                                    <select class="form-control" disabled="disabled" name="site" ng-model="ctrl.object.site" ng-options="site.id as site.name for site in ctrl.sites"></select>
                                </div>
                                <select class="form-control" name="site" ng-model="ctrl.object.site" ng-options="site.id as site.name for site in ctrl.sites"
                                    ng-if="!ctrl.object.site"></select>
                            </div>
                            <div class="form-group col-xs-12">
                                <div class="checkbox ">
                                    <label>
                                        <input type="checkbox" ng-model="ctrl.object.hidden"> {{ 'REGION_IS_HIDDEN' | translate }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
            <div class="row" read-only-form is-editing="ctrl.isEditing">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">{{ 'REGION_LANGUAGES' | translate }}</h3>
                        </div>
                        <div class="box-body">

                            <div class="form-group col-xs-12">
                                <ui-select ng-model="ctrl.object.languages" multiple ng-disabled="!ctrl.isEditing">
                                    <ui-select-match placeholder="Languages">{{ $item.name | limitTo: 100 }}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in ctrl.languages | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" read-only-form is-editing="ctrl.isEditing">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">{{ 'TRANSLATED_FIELD' | translate }}</h3>
                        </div>
                        <div class="box-body">
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li ng-class="{active: ctrl.selectedLanguageTab == (lang[0]||'en')}" ng-repeat="lang in languages">
                                        <a href="" ng-click="ctrl.selectedLanguageTab = lang[0]" data-toggle="tab" aria-expanded="true">{{ lang[1] }}</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane" ng-class="{active: ctrl.selectedLanguageTab == (lang[0]||'en')}" ng-repeat="lang in languages">
                                        <div class="row">
                                            <div class="form-group col-xs-12">
                                                <label for="{{ idHelper('title',lang[0]) }}">{{ 'REGION_TITLE' | translate }}</label>
                                                <input type="text" class="form-control" ng-model="ctrl.object[idHelper('title',lang[0])]" placeholder="Title in {{ lang[1] }}">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- /.tab-content -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row" read-only-form is-editing="ctrl.isEditing">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">{{ REGION_OUTLINE | translate }}</h3>
                        </div>
                        <div class="box-body">
                            <leaflet defaults="{
            tileLayer: 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
            maxZoom: 14,
            drawControl: true,
            path: {
                weight: 10,
                color: '#800000',
                opacity: 1
            }
        }" id="map-simple-map" height="480px"></leaflet>
                        </div>

                    </div>
                </div>
            </div>


            <footer-action-bar>
                <div style="width: 100%">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-primary" ng-if="!ctrl.isEditing" ng-click="ctrl.startEditing()">{{ 'EDIT' | translate }}
                        </button>
                        <button type="button" class="btn btn-primary" ng-if="ctrl.isEditing" ng-click="ctrl.save()" ng-disabled="!ctrl.object.geom.coordinates || ctrl.object.geom.coordinates.length === 0 || regionForm.$invalid">
                            {{ 'SAVE' | translate }}
                        </button>
                        <button type="button" class="btn btn-danger" ng-if="!ctrl.isEditing && user.isSuperuser" ng-click="ctrl.remove()">
                            {{ 'DELETE' | translate }}
                        </button>
                        <button type="button" class="btn btn-warning" ng-if="ctrl.isEditing" ng-click="ctrl.stopEditing()">{{ 'CANCEL' | translate }}
                        </button>
                    </div>
                </div>
            </footer-action-bar>
    </section>
</form>