{% extends "aldryn_newsblog/two_column.html" %}
{% load i18n cms_tags apphooks_config_tags sekizai_tags %}

{% block title %}{{ article.title }} - {{ block.super }}{% endblock %}

{% block newsblog_content %}
    {% render_placeholder view.config.placeholder_detail_top %}
    <div class="aldryn-newsblog-detail">
        {% include "aldryn_newsblog/includes/article.html" with detail_view="true" %}
    </div>
    {% render_placeholder view.config.placeholder_detail_bottom %}
{% endblock %}

{% block newsblog_footer %}
    {% render_placeholder view.config.placeholder_detail_footer %}

    <nav class="aldryn-newsblog-pager grey darken-1">
        <div class="nav-wrapper">
            <ul class="pager">
                {% if prev_article %}
                    <li class="previous"><a href="{{ prev_article.get_absolute_url }}">{% trans "Previous" %}</a></li>
                {% endif %}
                <li><a href="{% namespace_url "article-list" %}">{% trans "Back to List" %}</a></li>
                {% if next_article %}
                    <li class="next"><a href="{{ next_article.get_absolute_url }}">{% trans "Next" %}</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}

{% block sidebar-content %}
    {% static_placeholder "article_detail_sidebar" %}
{% endblock sidebar-content %}
