{% extends "aldryn_newsblog/base.html" %}
{% load i18n cms_tags %}

{% block hero %}
    {% if view.show_header %}
        {% render_placeholder view.config.placeholder_base_top %}
    {% endif %}
{% endblock hero %}

{% block main-column-class %}aldryn aldryn-newsblog{% endblock main-column-class %}
{% block secondary-column-class %}aldryn aldryn-newsblog-sidebar{% endblock secondary-column-class %}

{% block content %}
    {% block newsblog_title %}{% endblock %}
    {% block newsblog_content %}{% endblock %}
    {% block newsblog_footer %}{% endblock %}
{% endblock content %}

{% block sidebar-content %}
    {% render_placeholder view.config.placeholder_base_sidebar %}
    {% block newsblog_sidebar %}{% endblock %}
{% endblock sidebar-content %}
