.Edit {
	h3 {
		font-size: 0.9rem;
		font-weight: normal;
		text-transform: uppercase;
	}
	.nav-tabs .nav-link.active {
		background-color: #ededed;
		border: none;
	}
	.nav-link{ 
		color: inherit; 
	}
	.nav-link :hover{ 
		color: inherit; 
	}
	.tab-content{
		padding-top: 20px;
	}
}
