.Edit {
	margin-bottom: 15px;
	background-color: white;
	box-shadow: 0 0 8px 0px #e3e3e3;
	padding: 15px;

	section {
		h3 {
			font-size: 0.9rem;
			font-weight: normal;
			text-transform: uppercase;
		}
	}
}