@import '../Skeleton.scss';

body {
	background-color: #f4f6f9;
  font-size: 0.9rem;
  
  h2 {
    font-size: 1.1rem;
  }
}

.Canvas {
  margin-left: 235px;
  margin-top: $header-height;
  min-height: -webkit-fill-available;
  padding: 15px;
  text-align: left;
  transition: margin-left .5s; // collapse effect

  &.expanded {
    margin-left: 50px;
  }

  // Dark theme
  &.bg-dark {
    background-color: #323232 !important;

    h2 {
      color: white;
    }
  }

}
