<div class="row">
    <div class="col-xs-12">
        <div class="box">

            <div class="box-footer">
                <div class="btn-group pull-left">
                    <button type="button" class="btn btn-danger"
                            ng-if="ctrl.canDelete && !ctrl.isEditing && !ctrl.isNew" ng-click="ctrl.remove()">
                        Delete
                    </button>
                </div>
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-primary" ng-if="!ctrl.isEditing"
                            ng-click="ctrl.startEditing()">Edit
                    </button>
                    <button type="button" class="btn btn-primary" ng-if="ctrl.isEditing"
                            ng-click="ctrl.save()">
                        Save
                    </button>
                    <button type="button" class="btn btn-warning" ng-if="ctrl.isEditing"
                            ng-click="ctrl.cancelEditing ? ctrl.cancelEditing() : ctrl.stopEditing()">Cancel
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>