<header class="main-header">
    <a href="/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>R</b>.I</span>
        <span class="logo-lg"> <img src="{$ staticUrl $}img/logo.png"/></span>
    </a>

    <nav class="navbar navbar-static-top" role="navigation" ng-controller="NavbarController as ctrl">
        <!-- Sidebar toggle button-->
        <a href="" class="sidebar-toggle visible-xs visible-sm" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account Menu -->
                <li class="dropdown messages-menu" ng-if="user.providers.length > 1">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                        <i class="fa fa-institution"></i>
                        <span class="label label-primary" ng-if="selectedProvider">*</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="footer"><a href="#">Select a provider from the list below.</a></li>
                        <li>
                            <ul class="menu">
                                <li ng-repeat="p in user.providers">
                                    <a href="" class="dropdown-provider" ng-click="ctrl.impersonate(p)"
                                       style="color: #777; white-space: normal;" ng-style="{
                                       'font-weight': p.id == selectedProvider.id ? 'bold' : 'normal'
                                       }">
                                        {$ p.name $}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="white-scale-line"></span>
                        <img ng-hide="user.avatar" src="/public/static/img/favicon.ico" class="img-circle avatar-img">
                        <img ng-hide="!user.avatar" src="{$ user.avatar $}" class="img-circle avatar-img">
                        <div>
                            <div>{$ user.name $} {$ user.surname $}</div>
                        </div>
                        <div class="dropdown-icon">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </div>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="profile-link">
                                <a ui-sref="settings" ui-sref-active="active">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="" class="sign-out-button btn btn-default btn-flat" ng-click="ctrl.logout()">Sign
                                    out</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li class="hide">
                    <a href="" ng-click="baseController.sideBarCollapsed = !baseController.sideBarCollapsed"><i
                            class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>