<header class="main-header">
    <a href="/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">
            <b>R</b>.I</span>
        <span class="logo-lg">
            <img src="{{ staticUrl }}img/{{logoName}}" />
        </span>
    </a>

    <nav class="navbar navbar-static-top" role="navigation" ng-controller="NavbarController as ctrl">
        <!-- Sidebar toggle button-->
        <a href="" class="sidebar-toggle visible-xs visible-sm" data-toggle="offcanvas" role="button">
            <span class="sr-only">{{ 'TOGGLE_NAVIGATION' | translate}}</span>
        </a>

        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">           
            <div ng-show="$root.showProvider" class="navbar-provider">                
                <h1>
                    <span class="title-provider">{{ 'IMPERSONATING' | translate }} {{ selectedProvider.name }}</span>
                    <button class="btn btn-danger btn-xs btn-block" ng-click="ctrl.stopImpersonate()">{{ 'STOP_IMPERSONATING' | translate }}</button>
                </h1>
            </div>
            <div class="navbar-provider username">
                <h1>
                    <span>*{{ !user.name && !user.surname ? user.email : '' }}{{ user.name }} {{ user.surname }}</span>
                </h1>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown messages-menu" ng-if="user.providers.length > 1">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                        <i class="fa fa-institution"></i>
                        <span class="label label-primary" ng-if="selectedProvider">*</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="footer">
                            <a href="#">{{ 'SELECT_PROVIDER_FROM_LIST' | translate}}</a>
                        </li>
                        <li>
                            <ul class="menu">
                                <li ng-repeat="p in user.providers">
                                    <a href="" class="dropdown-provider" ng-click="ctrl.impersonate(p)" style="color: #777; white-space: normal;" ng-style="{
                                       'font-weight': p.id == selectedProvider.id ? 'bold' : 'normal'
                                       }">
                                        {{ p.name }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown messages-menu">
                    <!-- Menu Toggle Button -->
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                        <i class="fa fa-gears"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <ul class="menu">
                                <li>
                                    <a ui-sref="settings" ui-sref-active="active">{{ 'PROFILE' | translate }}</a>
                                </li>
                                <li>
                                    <a href="" ng-click="ctrl.logout()">{{ 'SIGN_OUT' | translate }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li class="hide">
                    <a href="" ng-click="baseController.sideBarCollapsed = !baseController.sideBarCollapsed">
                        <i class="fa fa-gears"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
