<div class="modal-header text-center col-md-offset-1 col-md-10 col-xs-12">
    <h4 style="font-weight: bold">Password Reset</h4>
</div>

<div class="modal-body">
    <div class="row">
        <div ng-if="!ctrl.isResetPasswordEmailSent && !ctrl.isChecking" class="col-md-offset-1 col-md-10 col-xs-12">
            <div class="text-center">
                <h4>Forgotten your password?</h4>
                <h4>Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</h4>
            </div>
            <div class="box-border">
                <p class="text-center">Enter your e-mail to reset password.</p>
                <form name="ctrl.resetForm"
                      ng-submit="!ctrl.isChecking && !ctrl.isResetPasswordEmailSent && ctrl.resetPasswordEmail()">
                    <div class="form-group has-feedback">
                        <input type="email" class="form-control" id="email" placeholder="Email"
                               ng-model="ctrl.resetUser.email" required>
                        <i class="fa fa-envelope form-control-feedback input-right-icon"></i>
                    </div>

                    <div class="alert alert-danger" ng-show="ctrl.resetUser.errors">
                        {{ ctrl.resetUser.errors }}
                    </div>
                    <div class="form-group login-buttons-container">
                        <button ng-click="ctrl.loginViewBack()" type="button" class="btn back-button" id="back">
                            Back to Log In
                        </button>
                        <button type="submit" class="btn login-button" id="submit">
                            Send reset e-mail
                        </button>
                    </div>
                </form>
            </div>

            <h6>Please contact us if you have any trouble resetting your password.</h6>

        </div>

        <div ng-if="ctrl.isResetPasswordEmailSent && !ctrl.isChecking">
            <div class="text-center">
                <h4>We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</h4>
                <h5>You will be redirected after 5 seconds...</h5>
            </div>
        </div>

        <div ng-if="ctrl.isChecking && !ctrl.errors && !ctrl.messages" class="col-md-offset-1 col-md-10 col-xs-12">
            <div class="box-border">
                <p class="text-center">Enter new password twice.</p>
                <form name="ctrl.resetForm"
                      ng-submit="ctrl.isChecking && !ctrl.isResetPasswordEmailSent && ctrl.resetPassword()">
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" id="new_password1" placeholder="New Password"
                               ng-model="ctrl.resetUser.new_password1" required>
                        <i class="fa fa-key form-control-feedback input-right-icon"></i>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" id="new_password2"
                               placeholder="New Password (again)"
                               ng-model="ctrl.resetUser.new_password2" required>
                        <i class="fa fa-key form-control-feedback input-right-icon"></i>
                    </div>
                    <div class="alert alert-danger" ng-show="ctrl.resetUser.errors">
                        {{ ctrl.resetUser.errors }}
                    </div>
                    <div class="form-group login-buttons-container">
                        <button ng-click="ctrl.loginViewBack()" type="button" class="btn back-button" id="back">
                            Back to Log In
                        </button>
                        <button type="submit" class="btn login-button" id="submit">
                            Reset Password
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div ng-if="ctrl.errors || ctrl.messages" class="col-md-offset-1 col-md-10 col-xs-12">
            <div class="text-center alert alert-danger" ng-show="ctrl.errors">
                <h4>{{ ctrl.errors }}</h4>
            </div>
            <div class="text-center alert alert-success" ng-show="ctrl.messages">
                <h4>{{ ctrl.messages }}</h4>
            </div>
            You will be redirected after 5 seconds...
        </div>
    </div>
</div>
