<div class="modal-header text-center col-md-offset-1 col-md-10 col-xs-12">
    <h4 style="font-weight: bold">{{ PASSWORD_RESET | translate }}</h4>
</div>

<div class="modal-body">
    <div class="row">
        <div ng-if="!ctrl.isResetPasswordEmailSent && !ctrl.isChecking" class="col-md-offset-1 col-md-10 col-xs-12">
            <div class="text-center">
                <h4>{{ PASSWORD_FORGOTTEN | translate }} </h4>
                <h4>{{ PASSWORD_ENTER_EMAIL_ADDRESS | translate }}</h4>
            </div>
            <div class="box-border">
                <p class="text-center">{{ PASSWORD_ENTER_EMAIL_TO_RESET | translate }} </p>
                <form name="ctrl.resetForm"
                      ng-submit="!ctrl.isChecking && !ctrl.isResetPasswordEmailSent && ctrl.resetPasswordEmail()">
                    <div class="form-group has-feedback">
                        <input type="email" class="form-control" id="email" placeholder="{{ PASSWORD_EMAIL | translate }}"
                               ng-model="ctrl.resetUser.email" required>
                        <i class="fa fa-envelope form-control-feedback input-right-icon"></i>
                    </div>

                    <div class="alert alert-danger" ng-show="ctrl.resetUser.errors">
                        {{ ctrl.resetUser.errors }}
                    </div>
                    <div class="form-group login-buttons-container">
                        <button ng-click="ctrl.loginViewBack()" type="button" class="btn back-button" id="back">
                            {{ PASSWORD_BACK_TO_LOGIN | translate }}
                        </button>
                        <button type="submit" class="btn login-button" id="submit">
                            {{ PASSWORD_SEND_RESET_EMAIL | translate }}
                        </button>
                    </div>
                </form>
            </div>

            <h6>{{ PASSWORD_PLEASE_CONTACT_US | translate }}</h6>

        </div>

        <div ng-if="ctrl.isResetPasswordEmailSent && !ctrl.isChecking">
            <div class="text-center">
                <h4>{{ PASSWORD_HAVE_SENT_EMAIL | translate }}</h4>
                <h5>{{ PASSWORD_WILL_BE_REDIRECTED | translate }}</h5>
            </div>
        </div>

        <div ng-if="ctrl.isChecking && !ctrl.errors && !ctrl.messages" class="col-md-offset-1 col-md-10 col-xs-12">
            <div class="box-border">
                <p class="text-center">{{ PASSWORD_ENTER_NEW_TWICE | translate }}</p>
                <form name="ctrl.resetForm"
                      ng-submit="ctrl.isChecking && !ctrl.isResetPasswordEmailSent && ctrl.resetPassword()">
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" id="new_password1" placeholder="{{ PASSWORD_NEW | translate }}"
                               ng-model="ctrl.resetUser.new_password1" required>
                        <i class="fa fa-key form-control-feedback input-right-icon"></i>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" id="new_password2"
                               placeholder="{{ PASSWORD_NEW_AGAIN | translate }}"
                               ng-model="ctrl.resetUser.new_password2" required>
                        <i class="fa fa-key form-control-feedback input-right-icon"></i>
                    </div>
                    <div class="alert alert-danger" ng-show="ctrl.resetUser.errors">
                        {{ ctrl.resetUser.errors }}
                    </div>
                    <div class="form-group login-buttons-container">
                        <button ng-click="ctrl.loginViewBack()" type="button" class="btn back-button" id="back">
                            {{ PASSWORD_BACK_TO_LOGIN | translate }}
                        </button>
                        <button type="submit" class="btn login-button" id="submit">
                            {{ PASSWORD_RESET | translate }}
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div ng-if="ctrl.errors || ctrl.messages" class="col-md-offset-1 col-md-10 col-xs-12">
            <div class="text-center alert alert-danger" ng-show="ctrl.errors">
                <h4>{{ ctrl.errors }}</h4>
            </div>
            <div class="text-center alert alert-success" ng-show="ctrl.messages">
                <h4>{{ ctrl.messages }}</h4>
            </div>
            {{ PASSWORD_WILL_BE_REDIRECTED | translate }}
        </div>
    </div>
</div>
