<section class="content-header" ng-controller="ContentHeaderController as chctrl">
    <h1>
        {{ chctrl.state.data.title | translate }}
        <small>{{ ctrl.object.email }}</small>
    </h1>
</section>

<section class="content">
    <div class="row" ng-form name="userForm" read-only-form is-editing="ctrl.isEditing">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-body">
                    <div class="form-group col-xs-12">
                        <label for="name">{{ 'USER_EMAIL' | translate }} </label>
                        <input type="email" class="form-control" name="email" id="email" ng-disabled="!ctrl.isNew" placeholder="Email" ng-required="true"
                            ng-model="ctrl.object.email">
                        <div class="alert alert-warning form-error" ng-if="userForm.email.$error.required && !userForm.email.$pristine && ctrl.isEditing">
                            {{ 'USER_FIELD_REQUIRED' | translate }}
                        </div>
                        <div class="alert alert-warning form-error" ng-if="userForm.$error.email && !userForm.email.$pristine && ctrl.isEditing">
                            {{ 'USER_INVALID_EMAIL' | translate }}
                        </div>
                    </div>

                    <div class="form-group col-xs-6">
                        <label for="name">{{ 'USER_FIRST_NAME' | translate }}: </label>
                        <input type="text" class="form-control" name="name" id="name" ng-maxlength="100" ng-required="true" placeholder="{{ 'USER_FIRST_NAME' | translate }}"
                            ng-model="ctrl.object.name">
                        <div class="alert alert-warning form-error" ng-if="userForm.name.$error.required && !userForm.name.$pristine && ctrl.isEditing">
                            {{ 'USER_FIELD_REQUIRED' | translate }}
                        </div>
                        <div class="alert alert-warning form-error" ng-if="userForm.name.$error.maxlength && !userForm.name.$pristine && ctrl.isEditing">
                            {{ 'USER_FIELD_TOO_LONG' | translate }}
                        </div>
                    </div>
                    <div class="form-group col-xs-6">
                        <label for="surname">{{ 'USER_LAST_NAME' | translate }}: </label>
                        <input class="form-control" name="surname" ng-model="ctrl.object.surname" placeholder="{{ 'USER_LAST_NAME' | translate }}"
                            id="surname" ng-required="true" ng-maxlength="100">
                        <div class="alert alert-warning form-error" ng-if="userForm.surname.$error.required && !userForm.surname.$pristine && ctrl.isEditing">
                            {{ 'USER_FIELD_REQUIRED' | translate }}
                        </div>
                        <div class="alert alert-warning form-error" ng-if="userForm.name.$error.maxlength && !userForm.surname.$pristine && ctrl.isEditing">
                            {{ 'USER_FIELD_TOO_LONG' | translate }}
                        </div>
                    </div>
                    <div class="form-group col-xs-6">
                        <label for="language">{{ 'USER_LANGUAGE' | translate }}: </label>
                        <select class="form-control" name="language" ng-model="ctrl.object.language" ng-options="item.id as item.name for item in ctrl.languages"
                            required></select>
                    </div>
                    <div class="form-group col-xs-6">
                        <label for="title">{{ 'USER_TITLE' | translate }}: </label>
                        <input type="text" class="form-control" id="title" placeholder="{{ 'USER_TITLE' | translate }}" ng-model="ctrl.object.title">
                    </div>

                    <div class="form-group col-xs-6" ng-if="user.isSuperuser">
                        <label for="user">{{ 'SITE' | translate }}</label>
                        <div class="input-group" ng-if="ctrl.object.site">
                            <span class="input-group-btn">
                                <button class="btn btn-danger" type="button" ng-click="ctrl.object.site = null">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </span>
                            <select class="form-control" disabled="disabled" name="site" ng-model="ctrl.object.site" ng-options="site.id as site.name for site in ctrl.sites"></select>
                        </div>
                        <select class="form-control" name="site" ng-model="ctrl.object.site" ng-options="site.id as site.name for site in ctrl.sites"
                            ng-if="!ctrl.object.site"></select>
                    </div>
                    <div class="form-group col-xs-6">
                        <label for="phoneNumber">{{ 'USER_PHONE_NUMBER' | translate }}: </label>
                        <input class="form-control" name="phoneNumber" ng-model="ctrl.object.phone_number" placeholder="{{ 'USER_PHONE_NUMBER' | translate }}"
                            id="phoneNumber" ng-pattern="/(^[\d+](?!.*--)[\d-]{7,18}[\d])$/">
                        <div class="alert alert-warning form-error" ng-if="userForm.phoneNumber.$error.pattern && !userForm.phoneNumber.$pristine && ctrl.isEditing">
                            {{ 'USER_INVALID_PHONE_NUMBER' | translate }}
                        </div>

                    </div>

                    <div class="form-group col-xs-12" ng-hide="!user.isSuperuser">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="ctrl.object.isStaff"> {{ 'USER_IS_STAFF' | translate }}
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-xs-12" ng-hide="!user.isSuperuser">
                        <label for="email">{{ 'USER_GROUPS' | translate }}</label>
                        <ui-select ng-disabled="!ctrl.isEditing" multiple ng-model="ctrl.object.groups" sortable="true" close-on-select="true">
                            <ui-select-match placeholder="{{ USER_SELECT_GROUP | translate }}">{{ $item.name }}</ui-select-match>
                            <ui-select-choices repeat="group in ctrl.groups | filter: {name: $select.search}">
                                <div ng-bind-html="group.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-xs-12" ng-if="user.isSuperuser && !ctrl.isNew && ctrl.providers.length > 0">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ 'USER_PROVIDERS' | translate}}</h3>
                </div>
                <div class="box-body">

                    <div class="form-group col-xs-12">
                        <label for="email">{{ 'USER_AS_TEAM_MEMBER' | translate }}</label>

                        <ui-select ng-model="ctrl.object.providers" multiple ng-disabled="!ctrl.isEditing">
                            <ui-select-match placeholder="{{ 'USER_SELECT_PROVIDER' | translate }}">{{ $item.name | limitTo: 100 }}</ui-select-match>
                            <ui-select-choices repeat="item.id as item in ctrl.providers | filter: $select.search">
                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                    <div class="form-group col-xs-12">
                        <label for="email">{{ 'USER_AS_ADMIN' | translate }}</label>
                        <ui-select disabled="disabled" ng-model="ctrl.object.managed_providers" multiple>
                            <ui-select-match placeholder="{{ 'USER_SELECT_PROVIDER' | translate }}">{{ $item.name | limitTo: 100 }}</ui-select-match>
                            <ui-select-choices repeat="item.id as item in ctrl.providers | filter: $select.search">
                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer-action-bar>
        <div style="width: 100%">
            <div class="btn-group pull-left" ng-if="user.isSuperuser && !ctrl.object.is_active">
                <button type="button" class="btn btn-primary" ng-click="ctrl.resendActivationEmail()">Resend Activation Email
                </button>
            </div>
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary" ng-if="!ctrl.isEditing" ng-click="ctrl.startEditing()"> {{ 'EDIT' | translate }}
                </button>
                <button type="button" class="btn btn-primary" ng-if="ctrl.isEditing" ng-click="ctrl.save()" ng-disabled="userForm.$invalid">
                    {{ 'SAVE' | translate }}
                </button>
                <button type="button" class="btn btn-danger" ng-hide="ctrl.object.isSuperuser" ng-if="!ctrl.isEditing && user.isSuperuser"
                    ng-click="ctrl.remove()">
                    {{ 'DELETE' | translate }}
                </button>
                <button type="button" class="btn btn-warning" ng-if="ctrl.isEditing" ng-click="ctrl.cancelEditing()">
                    {{ 'CANCEL' | translate }}
                </button>
            </div>
        </div>
        </div>
    </footer-action-bar>
</section>