{% load cms_tags menu_tags i18n staticfiles %}

<ul id="{% if mobile %}mobile-menu{% else %}nav{% endif %}" class="side-nav fixed {% if not mobile %}hide-on-med-and-down{% endif %}">
  <li class="logo no-hover">
    <a href="{% url 'pages-root' %}" class="{% block brand-class %}brand-logo{% endblock brand-class %}">
      <img src="{% static 'images/logo-large.png' %}">
    </a>
  </li>

  <li class="no-padding no-hover">
    <form action="{% page_url 'search-results' %}" method="get" id="search-field{% if mobile %}-mobile{% endif %}">
      <div class="input-field z-depth-1">
        <input id="search{% if mobile %}-mobile{% endif %}" type="search" name="q" required>
        <label for="search{% if mobile %}-mobile{% endif %}" class="search-label"><i class="material-icons">search</i></label>
        <i class="material-icons close">close</i>
      </div>
    </form>
  </li>

  {% for child in children %}
    {% if child.children %}
      <li class="parent no-padding {% if child.selected %}page-active{% endif %}">
        {% show_menu from_level to_level extra_inactive extra_active "cms/includes/sub_menu.html" "" "" child %}
      </li>
    {% else %}
      <li class="no-padding {% if child.selected %}page-active{% endif %}">
        <a href="{{ child.get_absolute_url }}" class="waves-effect">
          {% if child.iconnameextension.icon_name %}
            <i class="material-icons left">{{ child.iconnameextension.icon_name }}</i>
          {% endif %}

          <span>{{ child.get_menu_title }}</span>
        </a>
      </li>
    {% endif %}
  {% endfor %}

  <li class="no-padding">
    <a class="modal-trigger waves-effect" href="#language-picker">
      <i class="material-icons left">language</i>
      {% trans "Choose Language" %}
    </a>
  </li>

  {% if user.is_authenticated %}
    <li class="no-padding waves-effect">
      <a href="{% url 'logout' %}" title="{% trans "Logout" %}"><i class="material-icons">power_settings_new</i></a>
    </li>
  {% endif %}
</ul>
