{% load menu_tags i18n %}

<ul class="collapsible" data-collapsible="expandable">
  <li class="parent {% if child.selected %}page-active{% endif %}">
    {% if child.children %}
      <div class="overlay">
        <a href="{{ child.get_absolute_url }}">
        </a>
      </div>
    {% endif %}
    <a class="collapsible-header waves-effect {% if child.ancestor %}active{% endif %} {% if child.iconnameextension.icon_name %}has_icon{% endif %}">
      <div class="collapsible-header-wrap">
        {% if child.iconnameextension.icon_name %}
          <i class="material-icons left">{{ child.iconnameextension.icon_name }}</i>
        {% endif %}

        {% if child.children %}
          <span>{{ child.get_menu_title }}</span>
          <i class="material-icons right">arrow_drop_down</i>
        {% else %}
          <span>{{ child.get_menu_title }}</span>
        {% endif %}
      </div>
    </a>
    <div class="collapsible-body" {% if child.ancestor %}style="display:block;"{% endif %}>
      <ul>
        {% for child in child.children %}
          {% if child.children %}
            <li class="parent no-padding {% if child.selected %}page-active{% endif %}">
              {% show_menu from_level to_level extra_inactive extra_active "cms/includes/sub_menu.html" "" "" child %}
            </li>
          {% else %}
            <li class="no-padding {% if child.selected %}page-active{% endif %}  {% if child.iconnameextension.icon_name %}has_icon{% endif %}">
              <a href="{{ child.get_absolute_url }}" class="waves-effect">
                {% if child.iconnameextension.icon_name %}
                  <i class="material-icons left">{{ child.iconnameextension.icon_name }}</i>
                {% endif %}

                <span>{{ child.get_menu_title }}</span>
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </li>
</ul>
